<div class="wrap col-md-5">
    <div id="carousel-wrapper">
        <div id="carousel" class="cool-carousel">
            <span id="image1"><img src="images/seller-images/tomate.jpg" alt=""/></span>
            <!-- <span id="image2"><img src="images/product2.png" alt="" /></span>
             <span id="image3"><img src="images/product3.png" alt="" /></span>
             <span id="image4"><img src="images/product4.png" alt=""/></span>
             <span id="image5"><img src="images/product5.png" alt=""/></span>
             <span id="image6"><img src="images/product6.png" alt="" /></span>
             <span id="image7"><img src="images/product7.png" alt="" /></span>
             <span id="image8"><img src="images/product8.png" alt=""/></span>-->
        </div>
        <a href="#" class="prev"></a><a href="#" class="next"></a>
    </div>

    <div class="bottom">
        <div id="thumbs-wrapper">
            <div id="thumbs">
                <!-- <a href="#image1" class="selected"><img src="images/product.png"  alt="" /></a>
                 <a href="#image2"><img src="images/product2.png" alt="" /></a>
                 <a href="#image3"><img src="images/product3.png" alt=""/></a>
                 <a href="#image4"><img src="images/product4.png" alt=""/></a>
                 <a href="#image5"><img src="images/product5.png"  alt=""/></a>
                 <a href="#image6"><img src="images/product6.png"  alt=""/></a>
                 <a href="#image7"><img src="images/product7.png" alt=""/></a>
                 <a href="#image8"><img src="images/product8.png" alt=""/></a>-->
            </div>
            <a id="prev" href="#"></a>
            <a id="next" href="#"></a>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="product-detail">
        <h4>Brown Wood Chair</h4>
        <span>5.00 Dh</span>
        <p>Origin el jadida</p>
    </div>
    <div class="product-type clearfix">
        <!-- <div>
             <label>Select Size</label>
             <select>
                 <option>XXS</option>
             </select>
         </div>-->

        <div>
            <label>Quantity</label>
            <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
            </select>
        </div>

        <!--<div class="color">
            <label>Color</label>
            <select>
                <option>Dark Blue</option>
            </select>
        </div>-->
    </div>

    <div class="buttons">
        <!--<a href="#" class="wish big-button">Add to Wishlist</a>-->
        <a href="#" class="cart big-button">Add to Cart</a>
        <a href="#" class="compare big-button">Add to Compare</a>
    </div>
</div>