
<title>How To Use Autocomplete</title>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>
<script>
    $(function() {
        $( "#name" ).autocomplete({
            source: function( request, response ) {
                $.ajax({
                    url: "http://yourhostpath/getdata",
                    dataType: "json",
                    data: {
                        term: request.term
                    },
                    success: function( data ) {
                        response( $.map( data.results, function( result ) {
                            return {
                                label: result.id + " - " + result.label,
                                value: result.id,
                                imgsrc: result.image
                            }
                        }));
                    }
                });
            }
        }).data( "ui-autocomplete" )._renderItem = function( ul, item ) {
            return $( "<li></li>" )
                .data( "item.autocomplete", item )
                .append( "<a>" + "<img style='width:25px;height:25px' src='" + item.imgsrc + "' /> " + item.label+ "</a>" )
                .appendTo( ul );
        };
    });
</script>


<div class="ui">
    <label for="name">Name: </label>
    <input id="name">
</div>