@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900i&subset=latin-ext');

.sm-gutter {
    background: #f2f2f2;
    padding: 37px 15px;
    margin-bottom: -5px;
    display: inline-block;
    width: 100%;
}
.card-info-box .content {
    background: #fff;
    font-size: 14px;
    min-height:200px;
    position: relative;
    top:0;
    left:0;
    border-radius: 5px;
    color: #424242;
    padding:35px 16px 26px;
    font-weight: 400;
}
.card-info-box {
    background: #fff;
    border-radius: 5px;
    text-align: center;
}
.card-info-box.tran-no {
    background: #f4d1d1;
}
.card-info-box .icone {
    min-height: 72px;
    background: #1296bd;
    width: 72px;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    text-align: center;
}
.card-info-box .icone img {
    width: 30px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
}
.text {
    font-size: 17px;
    color: #3c3b3b;
    margin-top: 15px;
    font-weight: 900;
}
.card-info-box .content:hover .icone, .card-info-box .content:active .icone, .card-info-box .content.active .icone{
    background: none;
    border: 1px solid #fff;
}
.card-info-box .content:hover, .card-info-box .content:active {
    background: rgba(0, 0, 0, 0) linear-gradient(90deg, #0cb4e5 0%, #1296bc 100%) repeat scroll 0 0;
}
.card-info-box .content:hover .text, .card-info-box .content:active .text {
    color: #fff;
}

.card-info-box .content.active{
    background: rgba(0, 0, 0, 0) linear-gradient(90deg, #0cb4e5 0%, #1296bc 100%) repeat scroll 0 0;
}
.card-info-box .content.active .text{
    color: #fff;
}
.sm-gutter .col-md-3 {
    padding: 0 10px;
}
.regi-domain {
    background:#f2f2f2 url(../images/domain-bg.jpg) no-repeat;
    background-size: cover;
    position: relative;
    padding: 50px 0 170px;
}
.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
#adv-search {
    background: #000;
    border-radius: 5px;
    padding: 21px 19px;
}
#adv-search input {
    height: 50px;
    box-shadow: none;
    border: none;
    border-radius: 6px 0 0 6px;
}
#search_concept {
    border-left: 1px solid #dfdfdf;
    padding: 2px 0 5px 7px;
}
#adv-search .dropdown.dropdown-lg {
    background: #fff;
    height: 50px;
    margin-right: 12px;
    border-radius: 0 5px 5px 0;
}
#adv-search .dropdown.dropdown-lg {
    background: #fff;
    height: 50px;
}
#adv-search .dropdown-menu-right {
    right: 150px;
    left: auto;
}
#adv-search .dropdown.dropdown-lg button {
    border: none;
    padding: 0 16px !important;
    border-left: 1px solid #ccc;
    background: none;
    box-shadow: none;
    margin-top: 13px !important;
}
.btn.btn-search {
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px !important;
    padding: 0 33px;
    background: #0cb4e5;
}
.dropdown.dropdown-lg.open input {
    border: solid 1px #ccc !important;
    height: auto !important;
    border-radius: 5px;
}
.reg-titel h1 {
    margin: 0;
    font-size: 22px;
    text-transform: uppercase;
}
.titel-page {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    margin-bottom: 20px;
}
.cont-cart {
    padding: 13px 0;
    width: 153px;
    height: 143px;
    text-align: center;
    background: #fff;
    box-shadow: 0 0 15px #aac6f3;
    right: 20px;
    border-radius: 4px;
    top: 85px;
}
.cont-cart span {
    display: inline-block;
    width: 100%;
}
.cart-btng {
    margin: 10px 0;
    display: inline-block;
    background: #87a61c;
    color: #fff;
    padding: 8px 13px;
    border-radius: 4px;
}
.cart-btng:hover {
    color: #fff;
}
.avia-sab {
    margin: 24px 0 0;
    font-size: 24px;
    text-align: center;
}
.host-block {
    background: #0cb4e5;
    display: inline-block;
    width: 90%;
    padding: 28px 0;
    margin: 60px 54px 0;
    border-radius: 5px;
}
.host {
    font-size: 30px;
    color: #fff;
    font-weight: 900;
    margin: 0;
}
.renw {
    float: left;
}
a.cart-btn {
    float: right;
    background: #fff;
    padding: 11px 20px;
    color: #000;
    font-size: 15px;
    font-weight: 900;
    border-radius: 4px;
}
.yer-line {
    display: inline-block;
    width: 100%;
    color: #fff;
    font-size: 12px;
    margin-top: 7px;
}
.renw {
    margin-top: 10px;
    color: #fff;
    float: left;
    font-size: 18px;
}
.renw small {
    font-size: 13px;
}
.reset-domen {
    background: #f2f2f2;
    padding: 0 60px 100px;
    display: inline-block;
    width: 100%;
}
.col-host {
    box-shadow: 0 0 4px #dfdfdf;
    background: #fff;
    width: 18.2%;
    padding: 0 0 40px 0;
    border-radius: 5px;
    float: left;
    font-size: 12px;
    margin: 0 8px;
    color: #595959;
    font-weight: 900;
    text-align: center;
    position: relative;
}
.in-titel {
    background: #fff;
    width: 65px;
    font-size: 18px;
    color: #0cb4e5;
    height: 65px;
    font-weight: 900;
    margin: -27px auto 0;
    border-radius: 50%;
    line-height: 66px;
    left: 32%;
}
.usd-price {
    padding: 0 0 25px;
}
.cart-blue a {
    font-weight: 300;
    font-size: 12px;
    background: #0cb4e5;
    padding: 6px 11px;
    border-radius: 4px;
    color: #fff;
}
.cart-blue a:hover {
    color: #fff;
    background: #12a1cb;
}
.add-price {
    color: #00a63f;
    font-size: 19px;
}
.close-host a {
    color: #000000;
    display: inline-block;
    margin-top: 15px;
    font-size: 13px;
}
.close-host a:hover {
    color: #F30;
}
.hosting-postal {
    margin-top: -72px;
}
.sted {
    display: inline-block;
    width: 100%;
    margin-top: 50px;
}
.sted span {
    float: left;
    font-size: 20px;
    color: #0cb4e5;
    font-weight: 900;
    font-style: italic;
    margin-right: 16px;
}
.sted .custom-select {
    display: table-cell;
    position: relative;
    width: 31%;
}
.sted .select-selected {
    padding: 0;
    border: none;
    background: #fff;
    padding: 7px 0 6px 7px;
    border-radius: 4px;
}
.input-group-btn.search-panel button {
    height: 50px;
    border: none;
    border-radius: 0;
    width: 62px;
    background: #fff;
    margin: 0 !important;
    font-size: 14px;
    font-weight: 900;
}
.input-group.form-box {
    margin-right: 15px;
}
.input-group-btn.adv button {
    background: #0cb4e5;
    border: none;
    height: 49px;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    width: 166px;
    border-radius: 4px !important;
    float: left;
}
.input-group-btn.adv button i {
    margin-right: 10px;
}
#adv-search ul.dropdown-menu:before {
    display: none;
}
#adv-search .btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
    background: #fff !important;
}
.sale-host {
    padding-top: 20px;
}
.web-host h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 900;
    display: contents;
    line-height: 34px;
}
.sale-red {
    background: #ff3131;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    padding: 6px 16px;
    color: #fff;
    border-radius: 5px;
    margin-left: 11px;
}
.sale-table {
    background: #fff;
    padding: 26px 10px;
    display: inline-block;
    margin-bottom: 10px;
    min-height: 86px;
    width: 100%;
    border-radius: 4px;
}
.price-usd span {
    font-size: 14px;
    color: #c2c2c2;
    font-weight: 500;
    margin: 0 8px 0 20px;
}
.dooler-price small {
    font-size: 13px;
}
.dooler-price strong {
    font-size: 18px;
}
.btn-cart {
    font-weight: 500;
    font-size: 13px;
    background: #0cb4e5;
    padding: 10px 15px;
    display: inline-block;
    border-radius: 4px;
    color: #fff;
}
.btn-cart i {
    margin-left: 10px;
}
.btn-cart:hover {
    color: #fff;
    background: #12a1cb;
}
.dooler-price {
    padding: 8px 0 0;
    float: left;
    width: 43%;
}
.price-usd {
    padding: 8px 0 0 21px;
    float: left;/* width: 38%; */
}
.cart-check {
    float: right;
}
.cart-add {
    float: right;
}
.cart-add .close-host {
    margin-left: -7px;
}
.cart-add .add-price {
    color: #00a63f;
    font-size: 19px;
    margin: -12px 0 -16px -15px;
}
.sale-prem {
    background: #3e3e3e;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    padding: 6px 16px;
    color: #fff;
    border-radius: 5px;
    margin-left: 11px;
}
.renen {
    display: inherit;
    font-size: 12px;
    color: #c2c2c2;
    line-height: 22px;
}
#adv-search .dropdown-menu {
    left: -6px;
    min-width: 57px;
}
.sm-gutter .face.back {
    font-size: 13px;
    color: #fff;
    line-height: 24px;
}
.right {
    display: none;
    position: fixed;
    right: 20px;
    z-index: 9999;
    top: 225px;
}
.domains-head.configur h1 {
    padding: 0;
}
.domains-head.configur p {
    padding: 0;
}
.domains-head.configur h1:before {
    display: none;
    padding: 0;
}
.page-spase {
    padding: 40px 15px;
}
.signd-titel {
    text-align: center;
}
.signd-titel a {
    font-size: 30px;
    color: #0cb4e5;
    font-weight: 900;
}
.eriod-col {
    font-size: 16px;
}
.eri-btn {
    border: solid 2px #0cb4e5;
    padding: 8px 13px;
    border-radius: 4px;
    margin-left: 10px;
    font-size: 13px;
    color: #0cb4e5;
    font-weight: 900;
}
.sting-col {
    font-size: 16px;
}
.sting-col a {
    margin-left: 10px;
    text-transform: uppercase;
    color: #0cb4e5;
    font-size: 13px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+12,ffffff+47,f2f2f5+100,f2f2f5+101 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 12%, #ffffff 47%, #f2f2f5 100%, #f2f2f5 101%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 12%, #ffffff 47%, #f2f2f5 100%, #f2f2f5 101%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 12%, #ffffff 47%, #f2f2f5 100%, #f2f2f5 101%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f5', GradientType=0 ); /* IE6-9 */
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    box-shadow: 0 0 10px #f2f2f5;
    padding: 12px 39px;
}
.period {
    background: #f8f9fe;
    width: 100%;
    float: left;
    padding: 38px 24px;
    margin: 40px auto;
    border-radius: 5px;
}
.signd-contnr {
    margin: 0 auto;
    width: 64%;
}
.prot-dns {
    display: inline-block;
    width: 100%;
}
.increased {
    min-height: 274px;
    border-radius: 4px;
    border: solid 1px #ebebeb;
    background-image: linear-gradient(131deg, #f4f4f4, #fdfdfd);
    padding: 20px;
    position: relative;
}
.green-cart:hover {
    background: #419c3f;
}
.increased h2 {
    margin: 14px 0 0 0;
    font-size: 20px;
    color: #000;
    font-weight: 900;
}
.increased p {
    margin: 10px 0 14px;
    font-size: 13px;
    color: #545454;
    font-weight: 300;
}
.increased span {
    margin: 0;
    font-size: 18px;
    color: #343434;
    font-weight: 300;
    display: inline-block;
    width: 100%;
}
.increased span strong {
    margin: 0;
    font-size: 18px;
    color: #343434;
    font-weight: 900;
}
.green-cart {
    background: #5cc55a;
    padding: 11px 23px;
    margin-top: 14px;
    display: inline-block;
    border-radius: 4px;
    color: #fff;
    font-weight: 900;
    font-size: 13px;
}
.green-cart:hover {
    color: #fff;
}
.checkbox.icon-check label {
    margin: 0;
    padding: 0;
}
.checkbox.icon-check {
    position: absolute;
    top: 12px;
    right: 10px;
}
.checkbox.icon-check .cr {
    background: #fff;
    border: solid 1px #5cc55a;
}
.checkbox.icon-check .cr i {
    color: #5cc55a;
}
.nameserv-head {
    text-align: center;
}
.nameserv-head h1 {
    margin: 0;
    font-size: 30px;
    color: #0cb4e5;
    font-weight: 900;
}
.nameserv-head p {
    margin: 10px 0 30px 0;
    font-weight: 300;
    font-size: 13px;
    color: #9e9e9e;
}
.nameserv-row {
    padding: 50px 0;
}
.panel {
    margin: 0 auto;
    position: relative;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
}
.panel .front {
    height: inherit;
    position: absolute;
    top: 53px;
    z-index: 900;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.panel .back {
    height: inherit;
    position: absolute;
    top: 40px;
    padding: 0 20px;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    left: 0;
    z-index: 1000;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.panel.flip .front {
    z-index: 900;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}
.panel.flip .back {
    z-index: 1000;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
}
.domains-head.configur {
    padding-bottom: 15px;
    padding-top: 15px;
}
.cont-cart span {
    color: #87a61c;
    font-size: 32px;
}
.filter-year .select-selected:after {
    display: none;
}
.eriod-col {
    font-size: 16px;
    width: 213px;
}
.eri-rigst {
    margin-top: 3px;
    float: left;
}
.custom-select.filter-year {
    float: right;
}
.custom-select.filter-year .select-selected {
    border: solid 2px #0cb4e5;
    padding: 6px 13px;
    border-radius: 4px;
    margin-left: 10px;
    font-size: 13px;
    color: #0cb4e5;
    font-weight: 900;
}
.progr-row {
    padding: 50px 80px;
    box-shadow: 0 0 5px #dfdfdf;
    background: #fff;
}
.progres-bar li a {
    background: #fff;
    padding: 0 8px;
    font-size: 16px;
    color: #000;
}
.check-bar {
    color: #0eb4e8;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 36px;
    font-weight: 300;
    border: solid 1px #76d6ef;
    margin-right: 12px;
}
.progres-bar li {
    list-style: none;
    display: inline-block;
    width: 219px;
    position: relative;
    text-align: center;
    z-index: 9;
}
.progres-bar:after {
    content: '';
    height: 2px;
    background: #76d6ef;
    display: inline-block;
    width: 77%;
    left: 54px;
    position: absolute;
    top: 20px;
}
.progres-bar {
    position: relative;
    margin: 0 auto;
    width: 1000px;
}
.check-bar.active {
    background: #0eb4e8;
}
.accout-left {
    margin-top: 0;
    background: #fff;
    padding: 20px 20px;
}
.crny {
    font-size: 14px !important;
    color: #000 !important;
    margin-right: 20px;
}
.accout-right {
    margin-top: 15px;
}
.full-sign {
    background-image: linear-gradient(127deg, #1051c7, #1b66ef);
    display: inline-block;
    width: 100%;
    border-radius: 5px;
    padding: 20px;
}
.sign-titel {
    color: #fff;
    margin: 0;
    font-size: 25px;
}
.acct-box h3 {
    color: #fff;
    font-weight: 900;
    font-size: 17px;
    margin: 10px 0 8px;
}
.acct-box p {
    color: #fff;
    font-size: 14px;
}
.crt-ntn {
    background: #fff;
    color: #000;
    padding: 10px 22px;
    border-radius: 4px;
    margin-top: 7px;
    font-size: 17px;
    width: 65%;
    font-weight: 900;
    display: inline-block;
    text-align: center;
}
.crt-ntn:hover {
    background: #fbfbfb;
}
.account-colam {
    float: left;
    width: 50%;
}
.account-colam.have {
    /*margin-top: 27px;*/
}
.account-colam.have .crt-ntn {
    background: #0cb4e5;
    color: #fff;
}
.accout-row {
    display: inline-block;
    width: 100%;
}
.account-colam.have .crt-ntn:hover {
    background: #2edef4;
}
.pay-row {
    padding-top: 20px;
}
.fild-titel {
    color: #000;
    margin: 0 0 26px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 900;
}
.pay-row .col-md-6 {
    padding-left: 0;
    margin-bottom: 18px;
}
.pay-row .change-pass .inputText {
    left: 10px;
}
.pay-row .change-pass .inputBox {
    background: #fff;
}
.treet-titel {
    color: #747474;
    margin: 20px 0;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 900;
}
.payment {
    display: block;
    position: relative;
    cursor: pointer;
    color: #323232;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.payment input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 24px;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border: solid 2px #6ad1ee;
    border-radius: 50%;
}
.payment:hover input ~ .checkmark {
    background-color: #ccc;
}
.payment input:checked ~ .checkmark {
    border: solid 2px #2196F3;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.payment input:checked ~ .checkmark:after {
    display: block;
}
.payment .checkmark:after {
    top: 2px;
    left: 2px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #0bb6e4;
}
.card {
    text-transform: uppercase;
    cursor: pointer;
    line-height: 27px;
    font-size: 11px;
    text-align: center;
}
.pay-list li {
    list-style: none;
    float: left;
    width: 110px;
    margin: 5px 10px;
    text-align: center;
    min-height: 90px;
    border-radius: 4px;
    padding: 7px 0 0;
    box-shadow: 0 0 8px #ccc;
}
.Payment-row {
    background: #fff;
    border-bottom: 2px solid #ccc;
    display: inline-block;
    padding: 15px 0 25px;
    width: 100%;
}
.border_bottom{
    border-bottom: 2px solid #ccc;
}
.border_top{
    border-top: 2px solid #ccc;
}
.col-md-7.no-spase {
    padding-left: 0;
}
.Payment-row h4 {
    color: #000000;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 900;
}
.card-type {
    background: #fff;
    display: inline-block;
    width: 100%;
}
.card-cont {
    margin: 33px auto;
    width: 65%;
    background: #fff;
    display: -webkit-box;
    padding: 26px 15px 10px;
}
.card-cont .select-selected {
    background: #fff;
    padding-left: 10px !important;
    border-radius: 4px;
    border-right: 2px solid #ccc !important;
    border-bottom: 2px solid #ccc !important;
}
.card-cont .inputBox {
    background: #fff;
    color: #000;
}
.card-cont .inputText {
}
.card-cont .col-md-6 {
    margin-bottom: 15px;
}
.card-cont .col-md-12 {
    margin-bottom: 15px;
}
.order-btn {
    text-align: center;
    background: #fff;
    padding: 30px 0;
    margin-top: -5px;
}
.order-btn input {
    background-image: linear-gradient(127deg, #1051c7, #1b66ef);
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 900;
    padding: 19px 39px;
    border-radius: 4px;
    color: #fff;
}
.order-btn input:hover {
    background-image: linear-gradient(127deg, #1b66ef, #1051c7);
}
.col-md-7.no-spase {
    padding-left: 0;
    border-right: 2px solid #e8e8e8;
    padding-right: 0;
}
.items-titel {
    color: #000;
    margin: 0 0 22px;
    font-size: 22px;
    font-weight: 900;
}
.cart-colam {
    border: solid 1px #ccc;
    display: inline-block;
    padding: 15px;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 4px;
}
.crt-regist h4 {
    margin: 0 0 6px;
    font-size: 17px;
    font-weight: 900;
}
.crt-regist span {
    font-size: 13px;
    color: #b0b0b0;
}
.crt-drop .select-selected {
    border: solid 1px #ccc;
    padding: 0;
    background: #fff;
    border-radius: 4px;
    padding: 7px 7px;
    font-size: 12px;
    margin: 10px 0;
}
span.crt-price {
    font-size: 13px;
    color: #b0b0b0;
}
.year-price {
    margin: 0 0 6px;
    font-size: 17px;
    text-align: right;
    font-weight: 900;
    min-width: 130px;
}
span.st {
    display: inline-block;
    width: 100%;
    text-align: right;
    margin-bottom: 4px;
    font-size: 13px;
    color: #b0b0b0;
}
.off-year {
    font-size: 16px;
    font-weight: 900;
    color: #1961e6;
    text-align: right;
    margin-bottom: 11px;
}
.trash a {
    border: solid 1px #1961e6;
    padding: 4px 18px;
    color: #1961e6;
    border-radius: 20px;
}
.trash a:hover {
    background: #1961e6;
    color: #fff;
}
.usd-tp .trash {
    margin-top: 10px;
}
.trash {
    text-align: right;
    margin-top: 5px;
}
.cart-colam.server {
    background: #ebfaff;
}
.cart-colam.ssl-item {
    background: #f7f7f7;
}
.value {
    float: right;
}
.cart-summary-line {
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
}
.label-text {
    color: #000;
    font-size: 14px;
}
.shipping .label-text {
    font-weight: 900;
    border-bottom: 1px solid #000;
}
.cart-grid-total {
    border-bottom: 3px solid #000;
    border-top: 3px solid #000;
    padding: 16px 0;
    margin: 27px 0 10px;
}
.pric-clt {
    float: right;
    font-weight: 900;
    color: #0ab4e5;
    font-size: 22px;
}
.total-clt {
    font-weight: 900;
    font-size: 22px;
}
.promo a {
    font-size: 13px;
    color: #000;
    font-weight: 900;
}
a.find-this {
    margin-top: 14px;
    display: inline-block;
    font-size: 14px;
    color: #1c4e80;
}
.pay-box {
    background: #f5fbfd;
    padding: 15px 20px
}
.pay-check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
    font-weight: 900;
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    padding: 0 0 15px 23px;
    user-select: none;
}
.pay-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.pay-check .checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #fff;
    border-radius: 50%;
}
.pay-check:hover input ~ .checkmark {
    background-color: #fff;
}
.container input:checked ~ .checkmark {
    background-color: #0cb4e5;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.pay-check input:checked ~ .checkmark:after {
    display: block;
}
.pay-check .checkmark:after {
    top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #0cb4e5;
}
.pay-check:last-child {
    border: none;
}
.col-md-6.no-spase {
    padding-left: 0;
}
.paymt-form .form-group {
    margin-bottom: 32px;
}
.paymt-form label {
    font-weight: 300;
    font-size: 18px;
}
.paymt-form input {
    font-size: 14px;
    background: #fff;
    border: solid 1px #ccc;
    box-shadow: inherit;
    height: 52px;
}
.pay-btn {
    text-align: center;
    margin-top: 15px;
    display: inline-block;
    width: 100%;
}
.pay-btn button {
    text-align: center;
}
.pay-btn button {
    text-align: center;
    background: #0cb4e5;
    border: none;
    width: 100%;
    text-transform: uppercase;
    height: 50px;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 6px;
}
.paymt-form .select-selected {
    background: #fff;
    border: solid 1px #ccc;
    border-radius: 4px;
    padding: 0 0 0 8px;
    height: 50px;
    font-size: 21px;
    line-height: 46px;
    color: #000;
}
.paymt-form .select-selected.select-arrow-active:after {
    top: 44px !important;
}
.paymt-form .select-selected:after {
    top: 53px;
}
.pay-row .pay-titel {
    color: #0cb4e5;
    margin: 0;
    padding-bottom: 30px;
    font-weight: 900;
    font-size: 24px;
}
.paymt-form .col-md-6 {
    padding: 0 8px;
}
.body-page {
    background: #f5f7f8;
    padding-bottom: 50px;
}
.term-box {
    background: #ffffff;
    padding: 15px;
    display: inline-block;
    width: 100%;
    margin-top: 20px;
}
.select-lanth h3 {
    margin: 0;
    font-size: 22px;
    font-weight: 900;
}
.term-list {
    margin: 30px 0;
}
.term-list li {
    list-style: none;
    color: #fff;
    padding: 15px 0;
    border-radius: 4px;
    background: #5cc55a;
    text-align: center;
    width: 23.6%;
    margin: 0 3px;
    display: inline-block;
}
.term-list strong {
    font-size: 18px;
    font-weight: 900;
}
.term-list span {
    font-size: 16px;
    display: inline-block;
    width: 100%;
}
.term-list li:nth-child(2) {
    background: #edb800;
}
.term-list li:nth-child(3) {
    background: #0cb4e5;
}
.term-list li:nth-child(4) {
    background: #404040;
}
.second-term-list li:nth-child(1) {
    background: #0aab9c;
}
.second-term-list li:nth-child(2) {
    background: #1560ab;
}
.urable-form .custom-select {
    margin-bottom: 30px;
}
.urable-form {
    margin-top: 25px;
}
.web-rank {
    display: inline-block;
    width: 100%;
    margin-top: 40px;
    border-top: dashed 1px #e6f0f3;
    padding-top: 40px;
}
.pay-check.web-chek {
    border: none;
    float: left;
}
.mo-price {
    float: right;
    font-size: 20px;
}
.daily-web {
    display: inline-block;
    width: 100%;
}
.rank-item {
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 5px;
    border: solid 1px #ebebeb;
    box-shadow: 0 0 5px #ebebeb;
    cursor: pointer;
}
.daily-web .pay-check.web-chek {
    padding-bottom: 0;
    margin: 0;
    padding-left: 30px;
}
.pro-heding {
    margin: 0;
    font-size: 22px;
    font-weight: 900;
}
.daily-web {
    display: inline-block;
    width: 100%;
    margin: 24px 0 20px 0;
}
.daily-web label {
    font-size: 20px;
    font-weight: 900;
    text-transform: inherit;
}
.daily-web .checkmark {
    width: 20px;
    height: 20px;
    border-color: #5cc55a;
}
.daily-web .checkmark:after {
    top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
    background: #5cc55a;
}
.scans-cont {
    font-size: 16px;
    line-height: 22px;
}
.rank-item.active {
    background: #f0fff0;
    border: solid 1px #5cc55a;
}
.rank-item:hover {
    background: #f0fff0;
    border: solid 1px #5cc55a;
}
.order-summary {
    background: #0cb4e5;
    display: inline-block;
    width: 100%;
    border-radius: 4px;
    margin-top: 30px;
    padding: 15px 10px;
}
.titel-ord {
    margin: 0 0 15px;
    font-size: 14px;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
}
.stack {
    color: #fff;
    font-size: 15px;
    float: left;
}
.usd-tp {
    font-weight: bold;
    float: right;
    color: #fff;
}
.cloud-item {
    display: inline-block;
    width: 100%;
    padding: 13px 0;
    border-top: 1px solid #fff;
}
.custom-select.drop-yr {
    width: 70px;
}
.custom-select.drop-yr .select-selected {
    padding: 0;
    margin: 0;
    border: none;
    margin-top: 18px;
    background: #0083a9;
    border-radius: 5px;
    padding: 7px 0;
    text-align: center;
    color: #fff;
}
.custom-select.drop-yr .select-selected:after {
    display: none;
}
.centos-item {
    margin-bottom: 15px;
}
.centos {
    font-size: 12px;
    color: #fff;
    font-weight: 900;
}
span.centos-price {
    font-size: 12px;
    color: #fff;
    font-weight: 900;
    float: right;
}
.cloud-item.fess span {
    font-size: 14px;
}
.cloud-item.amount .centos {
    font-size: 16px;
    margin-top: 14px;
    display: inline-block;
}
.cloud-item.amount .centos-price {
    font-size: 36px;
}
.stap-btn {
    text-align: center;
    margin-top: 30px;
}
.stap-btn a {
    font-size: 16px;
    font-weight: 900;
    background: #5cc55a;
    border-radius: 4px;
    color: #fff;
    padding: 15px 48px;
    text-transform: uppercase;
}
.stap-btn a:hover {
    color: #fff;
}
.icon-small {
    height: 18px;
    margin: 0;
    padding: 0;
}
.icon-medium {
    height: 22px;
    margin: 0;
    padding: 0;
}
.navbar-lang .dropdown-toggle {
    margin: 0 !important;
    padding: 0;
}
.navbar-lang img {
    width: 36px;
    background: no-repeat;
    border: none;
}
.lang-drop {
    text-align: left;
    background: #fff;
    padding: 13px 63px 15px;
    margin-top: 18px;
    box-shadow: 0 0 5px #dfdfdf;
}
.navbar-lang .navbar-nav li {
    float: none;
}
.navbar-lang .navbar-nav {
    float: none;
}
.lang-drop a {
    font-size: 14px;
    color: #6c6c6c;
}
.lang-drop span {
    color: #a6a6a6;
    font-size: 12px;
}
.lang-drop .navbar-nav>li>.dropdown-menu {
    margin-top: 15px;
    left: -78px;
    width: 321px;
    border-radius: inherit;
    box-shadow: inherit;
}
.lang-drop ul.dropdown-menu:before {
    display: none;
}
.sap-row {
    padding: 25px 25px;
    background: #fff;
    display: inline-block;
    width: 100%;
    box-shadow: 0 0 7px #dfdfdf;
}
.pur-titel {
    font-size: 31px;
    font-weight: 900;
}
.step {
    list-style: none;
    margin: .2rem 0;
    width: 100%;
}
.step .step-item {
    -ms-flex: 1 1 0;
    flex: 1 1 0;
    margin-top: 0;
    min-height: 1rem;
    position: relative;
    text-align: center;
    width: 33%;
    display: inline-block;
}
.step .step-item:not(:first-child)::before {
    background: #000000;
    content: "";
    height: 6px;
    left: -50%;
    position: absolute;
    top: 9px;
    width: 100%;
}
.step .step-item a {
    color: #000;
    display: inline-block;
    padding: 30px 10px 0;
    text-decoration: none;
    font-size: 14px;
}
.step .step-item a::before {
    background: #5cc55a;
    border-radius: 50%;
    content: "";
    color: #fff;
    display: block;
    height: 28px;
    left: 50%;
    position: absolute;
    top: -5px;
    transform: translateX(-50%);
    width: 28px;
    z-index: 1;
}
.step .step-item.active a::before {
    background: #000000;
    left: 49%;
}
.step .step-item.active ~ .step-item::before {
    background: #999999;
}
.step .step-item.active ~ .step-item a::before {
    background: #fff;
}
.stp-cot {
    position: absolute;
    font-size: 17px;
    font-weight: 900;
    text-align: center;
    left: 82px;
    z-index: 99;
    line-height: 16px;
}
.step-item.active span {
    color: #fff;
}
.stp-cot.check {
    color: #fff;
    left: 79px;
}
#sticky.stick {
    position: fixed;
    top: 68px;
    right: 15px;
    z-index: 10000;
    width: 320px;
}
.domen-page.active .stp-cot.check {
    left: 96px  ;
}
.domen-page.active .stp-cot {
    left: 206px;
}
.viewcart li.step-item {
    width: 24% !important;
}
.viewcart .stp-cot {
    left: 50% !important;
    margin-left: -9px;
}
.viewcart cot.check {
    left: 149px !important;
}

.promocode_cont.loggedin.eriod-col{
    font-size: 16px;
    width: 230px !important;
}
.margin-top {
    margin-top: 30px;
}
.red-cart {
    background: #bf3911;
    padding: 11px 23px;
    margin-top: 14px;
    display: inline-block;
    border-radius: 4px;
    color: #fff;
    font-weight: 900;
    font-size: 13px;
}
.red-cart:hover{
    background: #902c0e;
    color: #fff;
}
.select-lanth ul.term-list li {
    cursor: pointer;
}
.urable-form .form-group {
    display: inline-block;
    width: 100%;
} 
div#orderSummaryLoader {
    color: #fff;
    float: right;
}
.cloud-item-product{
    padding-bottom: 5px;
    display: inline-block;
    width: 100%;
    padding-top: 0px;
}
#scrollingCartSummary.fixed{
    position: fixed;
    top:60px;
    overflow-y: scroll;
    height: 90%;
}
.item-qty {
    margin-bottom: 8px;
    display: inline-table;
}
.item-qty button.btn.btn-xs {
    margin-left: 8px;
    background: #000000;
    color: #fff;
    display: inline-table;
    margin-top: 8px;
}
.item-qty input.form-control.text-center {
    width: 75px !important;
    display: inline-table !important;
}

/*.trash a {
    border: transparent !important;
    padding: 7px 7px !important;
    color: #000000 !important;
    display: inline-block !important;
}
.trash a:hover {
    color: #7d0202 !important;
    background: transparent;
}*/
.custom-select .dropdown ul.dropdown-menu:before {
    content: '';
    border: none;
    right: 0;
    left: 0;
    position: relative;
}
.custom-select .dropdown button {
    border: solid 1px #ccc;
    background: #fff !important;
    border-radius: 4px;
    padding: 7px 7px !important;
    font-size: 12px;
    margin: 10px 0 !important;
}
button.btn.btn-block.promocode-btn {
    background: #8bc037;
    color: #fff;
}
button.btn.btn-block.promocode-btn:hover {
    background: #81ca0f;
}
.tax-cont {
    border-bottom: 3px solid #000;
    border-top: 3px solid #000;
    padding: 0;
    margin: 27px 0 10px;
}
.tax-cont h3 {
    font-size: 18px;
    font-weight: 900;
}
.tax-cont .col-sm-6 {
    padding-left: 0;
}
.tax-cont label.col-sm-4.control-label {
    padding: 0;
    width: 100%;
}
.tax-cont select {
    padding: 10px !important;
    height: auto;
}
.tax-cont .form-group {
    width: 100%;
    text-align: left;
    display: inline-block;
    margin-top: 10px;
}
.tax-cont .form-group button.btn {
    background: #1861e5;
    color: #fff;
}
.tax-cont .form-group button.btn:hover {
    background: #124eb9;
}
.tax-cont input[name="state"] {
    padding: 10px !important;
}
.promocode_cont {
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 100%;
}

.promocode_cont .col-sm-8, .promocode_cont .col-sm-4 {
    padding-left: 0;
}

.promocode_cont a.btn.btn-default.btn-sm {
    background: #a20808;
    color: #fff;
    border: 1px solid #a20808;
}

.promocode_cont a.btn.btn-default.btn-sm:hover {
    background: #860d0d;
    border: 1px solid #860d0d;
}
.empty-cart {
    text-align: right;
    margin: 0px 20px 0 0 !important;
    line-height: 1em;
    float: right;
}
.promocode_cont.loggedin {
    border-bottom: 0;
    padding: 0 0 15px;
}
.empty-cart button#btnEmptyCart {
    background: #1cb8e6;
    border: none !important;
    text-transform: uppercase;
    padding: 15px 22px;
    font-weight: 700;
    color: #ffffff;   
    border-radius: 5px;
    text-decoration: none;
}
#order-cartx .modal {
    z-index: 99999;
    text-align: center;
}
#order-cartx i.fas.fa-times.fa-3x , #order-cartx i.fas.fa-trash-alt.fa-3x{
    display: block;
    padding-top: 25px;
}
#order-cartx .modal-body {
    border: 0;
    text-align: center!important;
}
#order-cartx .modal-header {
    border: 0;
}
#order-cartx .modal-footer {
    border: 0;
    text-align: center;
    padding-bottom: 45px;
}
.focus .inputText {
    color: #00bcd4 !important;
}
.credit-apply {
    background: #fff;
    padding: 10px;
    margin-bottom: 15px;
}
.credit-apply label.radio {
    font-size: 12px;
    font-weight: 400;
    margin-left: 35px;
    line-height: 29px;
}
.credit-apply label.radio input[type="radio"] {
    margin-left: 0;
    position: relative;
    width: 18px;
    height: 15px;
    vertical-align: text-bottom;
}
button#creditCardType {
    margin: 0 !important;
    height: 50px !important;
}
ul#creditCardTypeDropDown:before {
    border: 0;
    position: relative;
    right: 0;
    top: 0;
}
span#selectedCardType i {
    color: #333;
}
.sm-gutter .col-md-3.col-xs-6 {
    cursor: pointer;
}
select#incartsld {
    height: 50px !important;
    width: 70% !important;
    display: inline-table !important;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
}
#frmProductDomain span.input-group-btn.adv {
    display: inline-table;
    width: 30%;
}
input#registersld, input#transfersld, input#owndomainsld, input#subdomainsld{
    height: 50px !important;
    width: 53% !important;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
    display: inline-table !important;
}
#domainregister .input-group-btn.search-panel, #domaintransfer .input-group-btn.search-panel, #domainowndomain .input-group-btn.search-panel, #domainsubdomain .input-group-btn.search-panel  {
    display: inline-table;
    width: 17%;
}
#domainregister .input-group-btn.search-panel select, #domaintransfer .input-group-btn.search-panel select, #domainsubdomain .input-group-btn.search-panel select {
    height: 50px !important;
    border: 0;
    border-radius: 0 !important;
}
#domainregister span.input-group-btn.adv button.btn.btn-default, #domaintransfer span.input-group-btn.adv button.btn.btn-default, #domainincart span.input-group-btn.adv button.btn.btn-default, #domainowndomain span.input-group-btn.adv button.btn.btn-default, #domainsubdomain span.input-group-btn.adv button.btn.btn-default  {
    width: 100%;
    height: 50px;
}
#domainregister span.input-group-btn.adv, #domaintransfer span.input-group-btn.adv, #domainsubdomain span.input-group-btn.adv {
    display: inline-table;
    width: 30%;
}
#domainowndomain .input-group-btn.search-panel input {
    height: 50px;
    border: 0;
    border-radius: 0;
} 
p#primaryLookupSearching {
    color: #000 !important;
}
.domain-config-column {
    border-bottom: 1px solid #EDB800;
    padding: 40px 0 0 0;
}
.domain-config-column:first-child{
    padding: 10px 0 0px;
}
.domain-configration .signd-contnr {
    width: 99%;
    float: left;
}
.domain-configration .period {
    width: 100%;
    float: none;
    padding: 25px 24px 48px;
    margin: 0 auto;
    max-width: 680px;
}
.domain-configration .signd-titel a {
    font-size: 24px;
    color: #000000;
    text-align: left;
    margin-top: 31px;
    display: inline-block;
}
.domain-configration .signd-titel {
    text-align: left;
    padding-left: 18px;
}
.domain-configration .custom-select.filter-year .select-selected {
    border: solid 2px #333333;
    color: #333333;
    font-weight: 900;
}
.domain-configration .sting-col a,.domain-configration .sting-col,.domain-configration .eri-rigst {
    color: #333333;
    font-weight: 900;
}
.style-class {
    font-size: 15px;
    padding: 0px 7px;
}
.color-class {
    background:#ffcc00;
}
.period-domain {
    background: #f8f9fe;
    border-radius: 3px;
    border: 1px solid #f0f0f0;
    margin-bottom: 38px;
}
.captcha-left,.captcha-right{
    display: inline-table;
    text-align: left;
}

#order-standard_cart .captcha-container .form-control{
    margin-left: 0;
}
.captcha-right {
    position: relative;
    top: 10px;
}
.avia-sab {
    display: block !important;
}
.host-block {
    display: inline-block !important;
}
.host-block .col-md-6 {
    display: block !important;
    text-align: left;
}
.renw {
    display: block !important;
}
#order-standard_cart .transfer-eligible {
    color: inherit;
    background-color: transparent;
    border-color: transparent;
}
.transfer-eligible .domain-checker-available.headline {
    display: block !important;
} 
.cdn .addon_price {
    background-image: linear-gradient(to right top, #0a94ae, #0b91ac, #0ca5b9, #0ca9bb, #0ca8bb);
}
.product-addons {
    margin-bottom: 30px;
    display: table;
}
.cart-colam:nth-child(2n+3) {
    background: #ebfaff;
    border: solid 1px #d1e9f1;
}
.alert-danger {
    margin: 15px 0 20px;
}

.alert {
    border-radius: 0;
}
.message-cont {
    padding: 0 20px;
}
.promo {
    margin-bottom: 10px;
}
.sub-heading-borderless {
    display: inline-table;
    width: 100%;
    margin: 7px 0 !important;
}
.providerPreLinking {
    float: left;
    text-align: center;
    width: 100%;
}
.social-signin-btns button.btn.btn-social {
    border-radius: 0 !important;
}
.change-pass.account p.small.text-muted {
    font-size: 15px;
}
.change-pass.account .row.margin-bottom {
    margin: 25px 0;
}
textarea[name="notes"] {
    padding: 10px;
}

.pay-row.padding0 {
    padding: 0;
}
.domain-renewals {
    border: 0;
}
.domain-renewals .web-rank {
    margin: 0;
    padding: 0;
    border: 0;
}
.domain-renewals .domain-renewal {
    border: 0;
}
.domain-renewals span.label.label-success {
    position: relative;
    top: -19px;
    right: -3px;
}
.domain-renewals .rank-item.product_addons:hover {
    background: transparent;
    border-color: transparent;
    cursor: auto;
}
.rank-item.product_addons {
    background: #ebfaff;
    border: solid 1px #d1e9f1;
}
#order-standard_cart .order-summary {
    margin: 30px 0 0 0;
    padding: 15px 10px;
    background-color: #0cb4e5;
    border-bottom: 0;
    border-radius: 4px;
}
a#btnGoToCart {
    margin-top: 20px;
}
.cart_empty {
    text-align: center;
}
.cart_empty .cart_empty_body {
    padding: 65px 0;
}
.cart_empty .cart_empty_body i.fal.fa-shopping-cart {
    font-size: 65px;
    color: #2ebf29;
    font-weight: 900;
}
.cart_empty .cart_empty_body p {
    margin: 45px 0 20px;
    font-size: 20px;
    font-weight: 600;
}
.cart_empty .cart_empty_body a {
    padding: 14px 28px;
    margin-top: 10px;
    display: inline-block;
    background: #68bc02;
    color: #fff;
    font-weight: 600;
    text-transform: UPPERCASE;
}
.cart_empty .cart_empty_body a:hover {
    background: #5fa707;
}
a#continueShopping {
    margin-top: 0px;
    display: inline-block;
    float: left;
    background: #fff;
    border: 2px solid #1cb8e6 !important;
    text-transform: uppercase;
    padding: 10px 22px;
    font-weight: 700;
    color: #1cb8e6;
    border-radius: 5px;
}
a#continueShopping:hover {
    color: #fff;
    border-color: #1c7cd6 !important;
}
button.btn-save{
}


.cr-ribbon {
    width: 100%;
    overflow: hidden;
    height: 70px;
    position: absolute;
    top: 0;
    right: 0;
}
.corner-ribbon.top-right {
    right: -49px;
    left: auto;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    top: -9px;
}
.corner-ribbon {
    width: 128px;
    position: absolute;
    text-align: center;
    line-height: 50px;
    letter-spacing: 1px;
    color: #f0f0f0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.corner-ribbon span {
    position: relative;
    top: 6px;
}
.spotlight-tld-new, .spotlight-tld-hot, .spotlight-tld-sale {
    width: auto;
    position: relative;
    letter-spacing: normal;
    padding: 0;
    font-size: 14px;
    font-weight: 500; 
    text-transform: uppercase;
    color: #fff;
    top: 0;
    right: 0;
    transform: none;
    -webkit-transform: none;
}
.slick-list {
    padding: 40px 0 0px;
}
.wgssptl {
    margin: 30px 0px -44px 46px !important;
}
.wgscstm{
    padding: 95px 60px 100px!important;
    margin-top: -70px!important;
}


.domen-page .stp-cot.check {
    color: #fff!important;
    left: 50%!important;
    margin-left: -9px!important;
}
.domen-page .step .step-item.active ~ .step-item a::before {
    background: #ccc!important;
}
.manageMobileLI a {
    padding: 3px 5px;
}
.manageMobileLI a:hover i {
    color: #fff;
}
.renew .tooltip.right .tooltip-arrow {
    border-left-color: #1cb8e6;
}
.manag .tooltip.right .tooltip-arrow {
    border-left-color: #727272;
}
.upgard .tooltip.right .tooltip-arrow {
    border-left-color: #edb800;
}

.manageMobileLI {
    display: none;
}
.activ-right{
    display: block;
}
.no-navbar {
    width: 100% !important;
    left: 0 !important;
}
.stp-cot {
    left: 50%!important;
    margin-left: -7px!important;
}
span.stp-cot.second-step {
    margin-left: -9px !important;
}
span.stp-cot.third-step {
    margin-left: -6px !important;
}
.cont-cart {
    padding: 13px 8px!important;
    min-width: 209px!important;
    min-height: 158px!important;
}
.domain-configration .period {
    max-width: 850px!important;
}
.eriod-col {
    width: 250px!important;
}
.corner-ribbon span {
    top: 11px !important;
    font-size: 10px!important;
}
.product-addons {
    margin-bottom: 30px!important;
    display: inline!important;
}
.renew .tooltip.right .tooltip-arrow {
    border-left-color: #1cb8e6;
}
.manag .tooltip.right .tooltip-arrow {
    border-left-color: #727272;
}
.upgard .tooltip.right .tooltip-arrow {
    border-left-color: #edb800;
}

.manageMobileLI {
    display: none;
}
.activ-right{
    display: block;
}
.no-navbar {
    width: 100% !important;
    left: 0 !important;
}

.inputBox {
    position: relative;
    box-sizing: border-box;
}
.inputBox .inputText {
    position: absolute;
    font-size: 13px;
    line-height: 50px;
    transition: .5s;
    opacity: 1;
    color: #898989;
}
.inputBox .input {
    position: relative;
    width: 100%;
    height: 50px;
    font-size: 14px;
    background: transparent;
    border: none;
    outline: none;
    font-weight:900;
    border-bottom: 1px solid #d2d2d2;
}
.focus .inputText {
    transform: translateY(-30px);
    font-size: 12px;
    opacity: 1;
    color: #00bcd4;
}
.custom-select select {
    display: none; 
}
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #d2d2d2 transparent transparent transparent;
}
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #696969 transparent;
    top: 12px !important;
}
.select-items div, .select-selected {
    color: #898989;
    padding:14px 0 15px;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
    border-bottom: 1px solid #d2d2d2;
}
.select-items {
    position: absolute;
    border: solid 1px #d2d2d2;
    top: 100%;
    background: #fff;
    left: 0;
    right: 0;
    z-index: 99;
}
.select-hide {
    display: none;
}
.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}
.form-main {
    display: inline-block;
    width: 100%;
}
.form-colam {
    display: inline-block;
    width: 100%;
    margin-bottom: 50px;
}
.select-items div {
    font-weight: normal;
    font-size: 12px;
    color: #000;
    padding: 6px 16px;
}
.formBox .checkbox label {
    padding: 0;
    margin: 0;
}
.formBox h5 {
    padding-bottom: 12px;
    font-weight:900;
}
.btn-footer {
    margin-top: 42px;
}

input.btn-save {
    background: #1cb8e6 !important;
    border: none !important;
    text-transform: uppercase;
    padding: 12px 22px;
    font-weight: 700;
    color: #ffffff;
    border-radius: 5px;
}
input.btn-cancel {
    background: #0063a5 !important;
    border: none !important;
    text-transform: uppercase;
    padding: 12px 28px;
    font-weight: 700;
    color: #ffffff;
    border-radius: 5px;
    margin-left: 10px;
}

button.btn-save {
    background: #1cb8e6;
    border: none;
    text-transform: uppercase;
    padding: 12px 22px;
    font-weight:700;
    color: #ffffff;
    border-radius: 5px;
}
.btn-save:hover{ background:#1c7cd6 !important;  }
button.btn-cancel {
    background: #0063a5;
    border: none;
    text-transform: uppercase;
    padding: 12px 28px;
    font-weight:700;
    color: #ffffff;
    border-radius: 5px;
    margin-left: 10px;
}
.btn-cancel:hover {background:#525e68 !important;}
.card-detal input {
    background: #f4f4f4;
    height: 45px;
    font-size: 12px;
    border: none;	border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;

}
.card-detal .custom-select {
    position: relative;
    background: #f4f4f4;
    height: 45px;
    font-size: 12px;

    border-radius: 4px;
    padding: 0 11px;
    border: none;
    border-right: 2px solid #dbdbdb;
    border-bottom: 2px solid #dbdbdb;
}
.card-detal .select-selected {
    border: none;
}
.card-detal .select-items {
    left: 0;
    right: 0;
}
.card-detal .select-selected:after {
    top: 19px;
}
.card-detal .col-xs-6 {
    padding-left: 0;
    padding-right: 0;
}
.card-detal .col-xs-6 .pull-right {
    width: 95%;
}
.card-detal .col-xs-6 .pull-left {
    width: 95%;
}
.card-detal .form-group {
    display: inline-block;
    width: 100%;
}
.find-card {
    font-size: 15px;
    color: #1c4e80;
    font-weight:700;
    margin-top: 12px;
    display: inline-block;
}
.btn-footer.card {
    margin-top: 10px;
}
.change-pass {
    display: inline-block;
    width: 100%;
}
.change-pass input {
    height: 45px;
    font-size: 12px;
    padding: 0 11px;
    color: #000 !important;
    border: none;
}
.change-pass .inputText {
}
.change-pass .focus .inputText {
    transform: translateY(-35px);
}
.change-pass .col-md-4 {
    padding-left: 0;
    padding-right: 31px;
}
.stren {
    margin: 18px 0 25px;
}
.stren a {
    font-weight:700;
    font-size: 12px;
    color: #1c4e80;
}
.part-applict {
    background: #e0eefc;
    padding: 24px 20px;
    font-weight:300;
    border-radius: 8px;
    font-size: 18px;
    color: #888888;
}
.checkbox.ently {
    margin: 20px 0 28px 0;
}
.checkbox.ently label {
    padding-left: 0;
}
.checkbox.ently label {
    padding-left: 0;
    font-size: 14px;
    color: #898989;
}
.disable {
    font-weight:300;
    border-radius: 8px;
    font-size: 18px;
    line-height: 26px;
    color: #888888;
}
.checkbox.ently .cr {
    background: #d2d2d2;
}
.change-pass .inputBox {
}
.form-main.cradit-histry .form-colam {
    margin-bottom: 15px;
}
.cradit-histry .Pers-titel {
    margin-top: 30px;
}
.chek-box-grup {
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
}
.chek-box-grup .checkbox {
    margin-bottom: 20px;
}
.chek-box-grup label {
    padding-left: 0;
}
.chek-box-grup .cr {
    background: #d2d2d2;
}
#inputContactID {
    width: 250px;
    height: 47px;
    box-shadow: 0 0 10px #ccc;
    margin: 0 10px;
}
button.btn.btn-default.go {
    height: 45px;
    background:#1ca2c9;
    color:#fff;
    padding: 0 23px;	font-weight:700;
}.foem-addx label {
    float: left;
    margin-top: 13px;
}
.foem-addx .custom-select {
    position: relative;
    float: left;
    min-width: 300px;
    background: #fff;

    border-radius: 4px;
    padding: 0 12px;
    margin: 0 17px;
}.foem-addx .select-items{  left: 0;
                            right: 0;}
.foem-addx .select-selected:after {
    top: 19px;
}

.foem-addx .select-selected { border-bottom:none;}.focus .input {
    border-bottom: 2px solid #000;
}
.checkbox.agry .cr {
    background: #fff;
}
.domen-page {
    padding-top: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.order-cart {
    display: inline-block;
    width: 100%;
    padding: 18px 30px 16px;
}
.order {
    color: #181717;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
}
.order span {
    margin-right: 15px;
}
.item-cart {
    background: #0cb4e5;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    font-size: 13px;
    display: inline-block;
    text-align: center;
    color: #fff;
    position: absolute;
    left: 11px;
    top: -8px;
}
.cart-bkt {
    margin: 0 18px 0 0;
}
.cart-shop {
    position: relative;
}
.cat {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 0;
    display: inline-block;
    padding: 0 0 0;
}
.host-nav {
    display: inline-block;
    width: 100%;
    background: #545454;
    padding: 20px 30px 10px 30px;
}

.host-nav li {
    float: left;
    margin-right: 10px;
    list-style: none;
    margin-bottom: 10px;
}
.domain-action ul li {
    margin: 0 !important;
}
.dropdown-menu li {
    float: none;
}
.tld-title-4{
    font-size: 32px;
    font-weight: 600;
    letter-spacing: normal;
    margin: 20px 0;
}
.custum-tld-sec .tld-filters a.label.label-default.label-success {
    padding: 12px 6px;
    line-height:20px;
	font-size: 15px;
}
.tld-inr{margin:20px 15px;}
.custum-tld-sec .row.tld-pricing-header.text-center .col-sm-8 .col-xs-4 {padding: 30px 0;}
.custum-tld-sec .row.tld-pricing-header.text-center .col-sm-4{padding: 30px 0;color:#fff;}
.custum-tld-sec .col-sm-4.cx1{background-color: #3598db !important;}
.custum-tld-sec .row.tld-pricing-header.text-center .col-sm-8 .col-xs-4.cx2{background-color: #2dcc70;}
.custum-tld-sec .row.tld-pricing-header.text-center .col-sm-8 .col-xs-4.cx3{background-color: #f1c40f;}
.custum-tld-sec .row.tld-pricing-header.text-center .col-sm-8 .col-xs-4.cx4{background-color: #9b58b5;}
.cx1, .cx2, .cx3, .cx4{color:#fff;font-size:24px;}
.custum-tld-sec .tld-filters a{padding:12px 6px;font-size: 15px;line-height:20px;}
.custum-tld-sec .tld-filters.host-nav {padding-bottom: 20px;}.domain-pricing 
.two-row-center {padding: 10px 11px;}
.drop-nav {
    background: #0cb4e5;
    padding: 10px 10px;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    text-align: center;
    font-weight: 900;
    border-radius: 4px;
    text-decoration: none !important;
}
.drop-nav:hover {
    color: #fff;
}
.host-nav .dropdown-menu {
    width: 265px;
    margin-top: 16px;
}
.host-nav .dropdown-menu:before {
    content: '';
    border-bottom: 15px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    left: 12px;
    top: -13px;
    right: inherit;
}
.host-nav .dropdown-menu li {
    border-bottom: 1px solid #ccc;
}
.host-nav .dropdown-menu li a {
    font-size: 15px;
    padding: 9px 14px;
}
.host-nav .dropdown-menu li a:hover {
    color: #0cb4e5;
    text-decoration: underline;
}
.host-nav .dropdown-menu li:last-child {
    border: none;
}
.drop-nav.server {
    background: #2ecc71;
}
.drop-nav.cloud {
    background: #e8a717;
}
.drop-nav.sslnv {
    background: #87a61c;
}
.drop-nav.domain {
    background: #167fc5;
}
.choose-pack {
    padding: 0 30px;
}
.pack-hed {
    text-align: center;
}
.pack-hed h2 {
    font-size: 28px;
    color: #181717;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}
.pack-hed p {
    font-size: 13px;
    color: #9c9c9c;
    text-align: center;
}
.pakg-palan ul.tabs li {
    float: left;
    margin: 0;
    cursor: pointer;
    padding: 5px 0;
    height: inherit;
    line-height: 31px;
    border: none;
    border-radius: 0;
    background-color: #f5f5f5;
    color: #797979;
    width: 20%;
    box-shadow: none;
    text-align: center;
    position: relative;
    font-size: 13px;
}
.pakg-palan {
    margin: 0 auto;
    width: 55%;
}
.pakg-palan ul.tabs li:last-child {
    border-radius: 0 50px 50px 0;
}
.pakg-palan ul.tabs li:first-child {
    border-radius: 50px 0 0 50px;
}
.pakg-palan .tabs {
    margin-left: 54px;
}
.generic_content {
    border: solid 1px #d2d2d2;
    padding-bottom: 26px;
}
.head {
    background: #3498db;
    padding: 5px 0 5px;
    text-align: center;
    font-size: 26px;
    font-weight: 300;
    color: #fff;
}
.price {
    text-align: center;
    width: 100%;
    display: inline-block;
    font-size: 33px;
    font-weight: 900;
    color: #7d7d7d;
    padding: 14px 0 17px;
    letter-spacing: -1px;
}
span.price small {
    font-size: 19px;
}
.generic_feature_list li {
    list-style: none;
    font-size: 16px;
    margin: 0 12px;
    color: #7d7d7d;
    text-align: center;
    border-bottom: 1px solid #d2d2d2;
    padding: 7px 21px;
}
.generic_feature_list li:first-child {
    border-top: 1px solid #d2d2d2;
}
.generic_feature_list li:last-child {
    display: none;
}
.generic_feature_list li {
    font-size: 15px;
    margin: 0 0px;
    padding: 7px 3px;
}
.generic_feature_storag li {
    list-style: none;
    padding: 6px 16px 5px;
    font-size: 13px;
}
.month {
    font-size: 21px;
    position: relative;
    font-weight: 500;
    left: -7px;
}
.open-host i {
    color: #2ecc71;
    font-size: 15px;
    margin-right: 6px;
}
.colse-host i {
    margin-right: 6px;
    color: #e74c3c;
    font-size: 15px;
}
.colse-host {
    color: #d2d2d2;
}
.generic_feature_storag {
    padding: 15px 0 23px;
}
.generic_price_btn {
    text-align: center;
    margin-bottom: 12px;
}
.generic_price_btn a {
    background: #0cb4e5;
    color: #fff;
    box-shadow: 0 0 10px #dfdfdf;
    padding: 10px 22px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 6px;
    position: relative;
    top: 20px;
}
.generic_price_btn a:hover {
    color: #fff;
    background: #3498db;
}
.flag {
    text-align: center;
    margin-top: 36px;
}
.head span.star {
    display: inline-block;
    width: 100%;
    font-size: 16px;
} 
.generic_content.basic {
    background: #fcfcfc;
}
.head.basic {
    background: #2ecc71;
}
.head.dard {
    background: #f1c40f;
}
.head.ultim {
    background: #9b59b6;
}
.choose-pack {
    padding: 0 30px 30px;
    display: inline-block;
    width: 100%;
}
.pak-row .tabs li:hover {
    background: #0cb4e5;
}
.pak-row .tabs li.active {
    background: #0cb4e5;
}
.pak-row .tabs li.active:after {
    display: none;
}
.pak-row .tabs li:hover:after {
    display: none;
}
.pak-row {
    margin-top: 40px;
}
.cart-bkt {
    font-size: 16px;
}
.pak-row .tab_container {
    margin-top: 0px;
}
.page-content {
    padding: 0 !important;
}

.form-box {
    margin: 10px 0;
    display: inline-block;
    width: 100%;
}

/* Slider */
.slick-slide {
    /*margin: 0px;*/
}
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    display: block;
    padding: 5px 0;
    overflow: hidden;
    margin: 0;
}
.slick-list:focus {
    outline: none !important;
}
.slick-list.dragging {
}
.slick-slider .slick-track, .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before, .slick-track:after {
    display: table;
    content: '';
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}
.slick-slide {
    display: none;
    float: left;
}
[dir='rtl'] .slick-slide {
    float: right;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.slick-dots button {
    background: none;
    display: none;
    font-size: 0;
    border: none;
}
.slick-dots li {
    background: #cbc8c8;
    width: 10px;
    height: 10px;
    margin: 15px 2px 0px;
    cursor: pointer;
    border-radius: 50%;
    display: inline-block;
}
.slick-dots .slick-active {
    background: #686868 !important;
    width: 10px;
    height: 10px;
}
ul.slick-dots {
    text-align: center;
}
.domains-post .col-md-4 {
    padding-left: 10px;
    padding-right: 10px;
}

.addon-row {
    display: inline-block;
    padding: 31px 0 0;
    width: 100%;
}
.addon-row .card-header h1:before {
    content: url(../images/addon.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
}
.addon-row .card-header:before {
    width: 140px;
}
.ssl {
    padding: 20px;
    display: inline-block;
    background: linear-gradient(to right, #349d16 0%, #5cc552 100%);
    color: #fff;
    border-radius: 5px;
    width: 100%;
}
.cdn {
    padding: 20px;
    display: inline-block;
    background: linear-gradient(to right, #0a88a6 0%, #0cafbf 100%);
    color: #fff;
    border-radius: 5px;
    width: 100%;
}
.cdn-price {
    width: 100%;
}
.cdn-price-img {
    width: 25%;
    display: inline-table;
}
.cdn-price-right {
    width: 73%;
    display: inline-table;
    text-align: right;
}
.cdn-price-right form.form-inline {
    display: inline-block;
    background: #fff;
    border-radius: 5px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    padding: 7px 20px;
}
.cdn-price-right form.form-inline:hover {
    background: #e2e2e2;
}
.cdn-price-right select {
    color: #000;
    border: none;
    padding: 9px 11px;
}
.addon_price {
    min-width: 75%;
    text-align: right;
    padding: 10px;
    float: right;
    margin-left: 30px;
    background: #fff;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    position: relative;
    right: -20px;
    color: #fff;
    margin-bottom: 25px;
    margin-top: 5px;
    background-image: linear-gradient(to right top, #cfe0cb, #c2debb, #70c757, #66ca4e, #8ed47a);
}
.product-addons .col-md-4 p {
    min-height: 35px;
}   
.com {
    padding: 20px;
    display: inline-block;
    background: linear-gradient(to right, #f3f3f3 0%, #fcfcfc 100%);
    color: #000;
    border-radius: 5px;
    width: 100%;
}
.ssl, .cdn, .com, .addonbox-even, .addonbox-odd{
    min-height: 230px;
}
.ssl h2, .cdn h2, .com h2, .addonbox-even h2, .addonbox-odd h2 {
    font-size: 28px;
    font-weight: bold;
    margin: 0px;
}
img.ssl-url {
    width: 265px;
    float: right;
    position: relative;
    right: -20px;
    padding: 15px 0;
}
.ssl ul {
    display: inline-table;
    width: 100%;
}
.ssl ul li.add-new, .addonbox-even ul li.add-new, .addonbox-odd ul li.add-new {
    display: inline-block;
}
.ssl ul li.manage, .addonbox-odd ul li.manage, .addonbox-even ul li.manage {
    display: inline-block;
    background: #fff;
    border-radius: 5px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.ssl ul li.manage:hover, .addonbox-odd ul li.manage:hover, .addonbox-even ul li.manage:hover {
    background: #e2e2e2;
}
.ssl ul li, .addonbox-odd ul li, .addonbox-even ul li {
    padding: 7px 20px;
}
.ssl ul li.add-new a, .addonbox-odd ul li.add-new a, .addonbox-even ul li.add-new a {
    text-decoration: underline;
    color: #fff;
}
.addonbox-even ul {
    width: 100%;
    display: inline-table;
}
.addonbox-odd ul li.manage, .addonbox-even ul li.manage, .ssl ul li.manage {
    width: 65%;
    float: right;
}
.addonbox-even {
    padding: 20px;
    display: inline-block;
    background: linear-gradient(to right, #08466b 0%, #1095cb 100%);
    color: #fff;
    border-radius: 5px;
    width: 100%;
}
.addonbox-odd {
    padding: 20px;
    display: inline-block;
    background: linear-gradient(to right, #310879 0%, #673AB7 100%);
    color: #fff;
    border-radius: 5px;
    width: 100%;
}
.ssl ul li.manage a {
    color: #333;
}
.cdn ul {
    display: inline-block;
    width: 100%;
    padding: 0;
}
.cdn ul li.add-cdn {
    line-height: 40px
}
.cdn ul li.add-cdn a {
    text-decoration: underline;
    color: #fff;
}
img.cdn-img {
    width: 85px;
}
.cdn ul li {
    display: inline-block;
}
.com h4 {
    font-weight: bold;
    font-size: 20px;
    line-height: 35px;
}
.com button.find-com {
    background: #0063a5;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 12px 20px;
    margin-top: 40px;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.com button.find-com:hover {
    background: #02568e;
}
.cdn ul li.sub-per {
    float: right;
    position: relative;
    right: -20px;
    background: url(../images/sb.png) no-repeat;
    width: 210px;
    height: 40px;
    top: 0px;
    line-height: 40px;
    text-align: right;
    padding-right: 5px;
    background-position: left;
    background-size: 300px 100px;
}
.btn-learn a {
    background: #fdfdfd;
    font-size: 12px;
    color: #727272;
    padding: 12px 18px;
    border: solid 1px #cccccc;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 5px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.btn-learn a:hover {
    background: #e2e2e2;
}
.btn-domin.actv a {
    background: #5cc55a;
}
.btn-domin.actv a:hover {
    background: #3ea23c;
}
.server-mng {
    border-top: 1px solid #ccc;
    padding-top: 15px;
    margin-top: 18px;
}
.domains-row {
    margin-bottom: 10px;
}
.grate.active-dom {
    padding-left: 0;
    padding-right: 0;
}
.server-mng li {
    list-style: none;
    display: inline;
    margin: 0 5px;
}
.server-mng li a {
    color: #1b66ef;
}
.ref-btn i {
    color: #1cb8e6;
}
.ref-btn .tooltip-inner {
    background: #1cb8e6;
}
.ref-btn .tooltip.top .tooltip-arrow {
    border-top-color: #1cb8e6
}
.times-sc i {
    color: #d75a4b;
}
.times-sc .tooltip-inner {
    background: #d75a4b;
}
.times-sc .tooltip.top .tooltip-arrow {
    border-top-color: #d75a4b
}
.cog i {
    color: #3f3f3f;
}
.cog .tooltip-inner {
    background: #3f3f3f;
}
.cog .tooltip.top .tooltip-arrow {
    border-top-color: #3f3f3f
}
.mg-servers .tooltip-inner {
    background: #1b66ef;
}
.mg-servers .tooltip.top .tooltip-arrow {
    border-top-color: #1b66ef
}
.domains-post .col-md-4.col-sm-6 {
    padding-left: 0;
    padding-right: 14px;
}
.addon-row .col-md-4 {
    padding-left: 0;
}
.newdomin-row .col-md-6 {
    padding-left: 0;
}
.newdomin-row {
    display: inline-block;
    width: 100%;
    margin-top: 42px;
}
.find-domin {
    min-height: 221px;
    background: url(../images/bg-dom.jpg) no-repeat;
    background-size: cover;
    border: solid 3px #1cb8e6;
    padding: 23px 23px;
    border-radius: 10px;
}
.titel-heding {
    margin: 0;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    color: #000000;
}
.stylish-input-group {
    margin: 30px 0;
}
.stylish-input-group input {
    height: 55px;
    border: solid 1px #ccc;
    box-shadow: 0 0 7px #ccc;
}
.stylish-input-group .input-group-addon {
    background: #1cb8e6;
    color: #fff;
    font-size: 24px;
    font-weight: 200;
}
.stylish-input-group .input-group-addon button {
    background: no-repeat;
    border: none;
}
.dezig span {
    font-size: 18px;
    color: #404040;
    padding: 0 6px 0 0;
}
.dezig a {
    font-size: 14px;
    color: #5cc55a;
    border-left: 1px solid #ccc;
    padding-left: 7px;
}
.yet-domin {
    border: dashed 3px #000;
    padding: 43px 25px;
    border-radius: 10px;
    display: inline-block;
    width: 100%;
    min-height: 221px;
}
.yet-pro h2 {
    font-size: 22px;
    font-style: italic;
    color: #000000;
}
.shoop-btn {
    text-align: right;
    margin-top: 37px;
    margin-right: 20px;
}
.shoop-btn a {
    font-size: 14px;
    color: #000;
    font-weight: 700;
    border-radius: 5px;
    text-transform: uppercase;
    background: #eeb800;
    padding: 16px 17px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.shoop-btn a:hover {
    background: #cea107;
    color: #000;
}
.footer {
    color: #aaaaaa;
    margin: 28px 0 20px;
    text-align: center;
    font-size: 13px;
}
.renew i {
    color: #1cb8e6;
}
.upgard i {
    color: #eeb800;
}
.manag i {
    color: #727272;
}
.activ-right li a:hover i {
    color: #fff;
}
.emil .label.label-success {
    background: #0cb4e5;
    color: #fff;
}
.ssl p {
    font-size: 14px;
    margin-top: 5px;
    color: #ffffff;
}
.cdn p {
    font-size: 14px;
    margin-top: 5px;
    color: #ffffff;
}
.domains-post .carousel-inner {
    padding: 14px 0;
}
.top-resp {
    display: none;
}
.addonbox-even .addon_price {
    background-image: linear-gradient(to right top, #c4d7f1, #0f99c9, #1095cb, #128ad1, #128ad1);
}
.addonbox-odd .addon_price {
    background-image: linear-gradient(to right top, #e3d9f5, #8069a9, #6134b0, #6533bd, #5c25bd);
}

.open>.dropdown-menu {
    display: block;
}
.product-addons {
    margin-bottom: 30px;
    display: inline;
}

@media (min-width:320px) and (max-width:766px) {
	.domain-pricing .tld-row .col-xs-4.text-center br {display: none;}
    .ac-res .cart-colam .pull-left {width: 50%;}
    .ac-res .cart-colam .pull-right {width: 50%;}
    .ac-res .crt-regist h4{font-size:14px;}
    .ac-res .year-price{font-size:14px;text-align: right;}
    .sap-row {padding: 25px 25px 18px;border-bottom: 1px solid #f3f0f0;}
    .ac-res .trash{text-align: right;}
    .recod .col-md-4.col-xs-6 {
        width: 100% !important;
    }
    .pull-right .list-grid {
        display: none;
    }
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    #content {
        width: calc(100% - 295px);
    }
    ::i-block-chrome, #content {
        width:78%;
    }
    ::i-block-chrome, .ssl {
        background:#56bf4a;
    }
    ::i-block-chrome, .cdn {
        background:#0b98b0;
    }
    ::i-block-chrome, .com {
        background:#fbfbfb;
    }
    ::i-block-chrome, .email-pack {
        background:#0A45B0;
    }
    ::i-block-chrome, .prot-data {
        background:#0B96AF;
    }
    ::i-block-chrome, .data-show {
        background:#494949;
    }
}
@media screen and (min-width: 768px) {
    #adv-search {
        width: 660px;
        margin: 0 auto;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 471px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
   ul.term-list.selectBillingCycle li {width: 48%;margin: 0 3px 10px;}
}
@media (min-width: 992px) and (max-width: 1400px) {
    .regi-domain {padding: 50px 0 70px;}
    .corner-ribbon.top-right {right: -60px;top: -22px;}
    .corner-ribbon span {top: 14px !important;}
    .eriod-col {
        font-size: 14px!important;
        width: 127px!important;
    }
    .sting-col .cLick-btn {
        font-size: 11px!important;
        padding: 12px!important;
    }
    .period .pull-right {
        width: 75%!important;
    }
    .ssl h2, .cdn h2, .com h2, .addonbox-even h2, .addonbox-odd h2 {
        font-size: 25px;
    }
    .item-pro {
        min-height: 213px;
    }
    .cdn-price-right select,.ssl ul li.manage select, .addonbox-odd ul li.manage select, .addonbox-even ul li.manage select {
        width: 100%;
    }
    .addon_price {
        width: 56%;
        right: -10px;
    }
    .cdn-price-right {
        margin-top: 8px;
        width: 100%;
        margin-bottom: 16px;
    }
    .cdn ul li.sub-per {
        width: 159px;
    }
    .cdn ul li.add-cdn {
        float: left;
        width: 62px;
    }
    .addonbox-even {
        min-height: 311px;
    }
    .acct-btn.pull-right {
        width: auto!important;
    }
    .wgs-Pending:last-child td {
        min-width: 130px;
    }
    div.header-lined h1 {
        padding: 6px 0 6px 10px;
    }
    .domen-page .col-md-4.right-col {
        width: 28%;
    }
    .price {
        font-size: 27px;
    }
    ul.menu.notf.language {
        min-height: 330px;
    }
    .navbar-nav > li > .dropdown-menu {
        margin-top: 13px!important;
    }
    .generic_feature_list li {
        font-size: 15px;
        margin: 0 0px;
        padding: 7px 3px;
    }
    .fund-btn {
        padding: 10px 10px;
    }
    .ticket-inner {
        padding: 23px 21px;
    }
    .ssl{
        min-height: 311px;
    }
    .ssl, .cdn, .com, .addonbox-even, .addonbox-odd {
        min-height: 260px!important;
        padding: 20px 10px;
    }
    .com {
        min-height: 309px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
	ul.term-list.selectBillingCycle li {width: 48%;margin: 0 3px 10px;}
    #spotlightcom .usd-price {padding: 0 0 15px;}
    .domains-post-register .col-host {width: 45.2%;min-height: 161px;}
    #spotlightTldsCustom .wgssptl {margin: 30px 0px -44px 10px !important;}
    .regi-domain {background: #cfe3fe url(../images/domain-bg.jpg) no-repeat;padding: 50px 0 70px;}
    .period .pull-right {
        width: 392px!important;
    }
    .domains-head .col-md-9 {
        width: 75%;
        float:left;
    }	
    .domains-head .col-md-3 {
        width: 25%;
        float:left;
    }
    .col-md-8.left-colam {
        width: 100%!important;
        padding: 0px 30px 0px 35px!important;
    }
    #productServicesWgsTable {
        min-width: 1000px;
    }
    .server-box .col-sm-3 {
        width: 50%;
        height: 80px;
    }
    .change-pass .col-md-4 {
        height: 80px;
    }
    .link-account-sec h4 {
        margin: 8px 40px 15px 0px;
    }
    #listDomainTableWgs {
        min-width: 1110px;
    }
    .wgs-Pending:last-child td {
        min-width: 100px;
    }
    .domains-head p {
        font-size: 16px;
    }
    .categories-collapsed .pull-left.form-inline {
        width: 100%;
        padding: 10px;
    }
    div.header-lined h1 {
        padding: 6px 0 6px 14px;
    }
    .cool-titel {
        padding: 0px 15px;
    }
    #myQouteListWgs {
        min-width: 823px;
    }
    .inputBox .input {
        font-size: 13px!important;
    }
    .security-que .inputText {
        font-size: 11px!important;
    }
    .btn-close a, .btn-close button {
        width: 25%;
    }
    .domen-page .form-horizontal {
        padding: 30px 40px 0px 0px;
    }
    .domen-page .form-group .col-sm-7 {
        width: 75%;
    }
}
@media (min-width: 320px) and (max-width: 480px) {
    .empty-cart button#btnEmptyCart {
        padding: 9px 7px!important;
        margin-right: 0px!important;
        font-size: 11px;
    }
    a#continueShopping {
        padding: 8px 8px!important;
        font-size: 11px;
    }
}
@media (min-width: 320px) and (max-width: 767px) {
	.daily-web .mo-price{padding-top:0;}
    .host {font-size: 24px;}
    .sted {margin-top: 30px;}
    .avia-sab {margin: 15px 0 15px;font-size: 20px;line-height: 26px;}
    .accout-left{padding:20px 16px!important;}
    .in-titel {
        margin-top: 30px!important;
    }
    .DomainSearchResults .wgssptl {
        margin: 30px 0px -44px 10px !important;
    }
    .domain-renewals span.label.label-success {
        top: -49px!important;
    }
    .form-horizontal .col-sm-6 {
        padding: 0px!important;
    }
    .period {
        float: left !important;
        margin-bottom: 15px !important;
        padding: 25px 12px 45px!important;
    }
    .domain-renewal {
        padding: 0px !important;
    }
    a#continueShopping {
        padding: 8px 10px!important;
    }
    .sting-col .cLick-btn {
        width: 100%!important;
        float: left!important;
        font-size: 10px!important;
        padding: 7px 7px!important;
        margin-left: 0px!important;
    }
    .cont-cart {
        padding: 13px 8px!important;
        min-width: 209px!important;
        min-height: 158px!important;
    }
    .sting-col {
        text-align: center!important;
    }
    .cdn-price-right {
        margin-bottom: 10px!important;
    }
    .cdn ul li.sub-per {
        padding-right: 30px!important;
    }
    .domains-head {
        padding: 30px 0 14px 3px!important;
    }
    .yet-domin {
        padding: 10px 23px 30px!important;
    }
    .domains-head {
        padding: 21px 0 9px 3px;
    }
    .top-resp {
        margin-top: 8px!important;
    }
    .cdn-price-img {
        margin-bottom: 10px;
    }
    .slide.col-md-4.slick-slide {
        text-align: center;
    }
    #adv-search {
        padding: 21px 9px;
    }
    #order-standard_cart .col-xs-6 {
        width: 100%;
        padding-right: 2px;
        text-align: center;
    }
    .regi-domain {
        padding: 50px 0 0px!important;;
    }
    .reset-domen {
        padding: 0px 15px 15px!important;;
    }
    .spotlight-tlds {
        margin: 35px 15px 11px 0px!important;

    }
    .reply-row {
        position: relative;
    }
    .start-chat {
        padding: 0px 0px 0 0px;
        width: 85%;
    }
    .tax-cont .col-sm-6 {
        padding-left: 0;
        padding-right: 0px;
    }
    .btn-close a, .btn-close button {
        width: 100%;
        margin-bottom: 10px;
    }
    .department .form-colam .col-sm-3 {
        padding: 0px 15px;
    }
    .Pers-titel {
        padding-left: 15px;
    }
    .domains-head.user .col-md-9 {
        text-align: center;
    }
    i.fas.fa-long-arrow-alt-left {
        left: 4px!important;
    }
    .domains-head h1 i {
        font-size: 28px;
        padding-right: 4px;
        vertical-align: middle;
    }
    .acct-btn {
        padding: 4px 12px 5px 6px;
    }
    .host-row .inputBox {
        height: 50px!important;
    }
    .user-accout .tabs {
        display: block;
    }
    .wel-titel {
        padding-top: 9px;
    }
    .foem-addx .custom-select {
        margin: 0 auto !important;
    }
    .tab_container .well {
        padding: 0px!important;
    }
    .btn-footer {
        text-align: center;
    }
    .btn.btn-danger.delete-contact {
        margin: 10px 0px 0px 0px;
    }
    .server-box ul.tabs li.active::after {
        left: 47%!important;
    }
    .server-box ul.tabs li:hover::after {
        left: 47%!important;
    }
    .server-box ul.tabs li {
        width: 100%;
    }
    .tab_container .col-md-5 {
        padding-right: 0px;
    }
    .link-account-sec h4 {
        width: 100%;
        text-align: center;
        margin: 0px 0px 10px 0px;
    }
    #tableLinkedAccounts_wrapper {
        min-width: 100%;
        overflow: scroll;
    }
    .btn-account input {
        letter-spacing: 2px;
    }
    .fas.fa-arrow-left {
        margin-top: 9px;
    }
    .providerPreLinking {
        float: none;
    }
    .btn-google {
        padding: 8px 31px !important;
    }
    .btn-facebook {
        padding: 8px 29px !important;
        margin-right: 0px;
    }
    .rubuts h3 {
        font-size: 23px!important;
        line-height: 28px;
    }
    .header-left .logo img {
        /*width: 106px;*/
        position: relative;
        top: -9px;
        max-height: 45px;
    }
    #content.active {
        left: 0px;
        width: 100%;
    }
    #sidebar.active {
        z-index: 9;
    }
    .rubuts p {
        padding: 15px 0 35px;
    }
    .header-right .navbar-nav .open .dropdown-menu {
        z-index: 99999;
    }
    div#page-wrapper {
        padding-bottom: 16px;
    }
    .drop-nav {
        font-size: 12px;
    }
    .col-md-9.cat-col {
        padding: 0 0 0 0px;
    }
    .cate-titel {
        padding: 27px 0 20px 15px;
    }
    .form-horizontal {
        padding: 15px 15px;
    }
    #sidebar.active ul {
        width: 100%;
        max-height: 420px;
        overflow-y: scroll;
    }
    .cdn-price-right select {
        padding: 9px 11px;
        width: 100%;
        min-width: 215px;
    }
    .list-unstyled.components {
        margin-top: 50px;
    }


    .header-left {
        float: left;
        width: 230px;
        width: 100% !important;
        text-align: center;
        padding-bottom: 0px;
    }
    .nav.navbar-nav {
        text-align: center;
        width: 100%;
    }
    .header-right {
        width: inherit;
        float: right;
        width: 100%!important;
    }
    .navbar-left, .navbar-right {
        float: none !important;
    }
    #productServicesWgsTable_wrapper {
        min-width: 1000px;
        padding: 0px 10px;
    }
    #content {
        top: 155px !important;
    }
    .domains-head h1 {
        font-size: 21px!important;
        margin: 0 0 8px!important;
        padding: 0 0 0 8px!important;
    }
    .inputBox {
        height: 55px!important;
    }
    .form-colam .col-sm-3 {
        padding: 0px;
    }

    #order-standard_cart .field, #order-standard_cart .form-control {
        min-width: 100% !important;
    }
    .server-box .btn-group-vertical > .btn,.server-box .btn-group > .btn {
        position: relative;
        float: none;
    }
    .server-box .btn-group {
        text-align: center;
        width: 100%;
    }
    table.dataTable {
        min-width: 658px;
    }
    .cool-titel {
        font-size: 24px;
        padding: 0px 15px;
    }
    .term-box-funds {
        width: 100%!important;
        float: none;
    }
    .server-box.page .col-md-6:last-child {
        padding-left: 15px!important;
    }
    #adv-search #registersld{
        width: 100% !important;
        min-width:100%!important;
    }
    .input-group-btn.adv button {
        margin-top: 10px;
    }
    .pers-info .form-horizontal {
        padding: 15px 0px;
    }
    .pers-info {
        padding: 26px 15px 30px;
    }
    #content.active {
        width: 100%!important;
        left: 0px!important;
        margin:0 auto!important;
    }
    .wrapper {
        overflow: visible!important;
    }
    .dropdown.messages-menu.lang .dropdown-toggle {
        margin-left: 0px !important;
    }
    .dropdown.user.user-menu a i {
        border-radius: 0%!important;
        width: 31px !important;
        height: 26px !important;
    }
    .dropdown.user.user-menu a .fa-user::before {
        position: relative!important;
        top: -4px!important;
    }
    .dropdown.user.user-menu a .fa-sign-in-alt::before {
        position: relative!important;
        top: -4px!important;
    }
    li.dropdown.messages-menu.lang.open ul.dropdown-menu {
        min-width: 90%!important;
        height: 329px!important;
    }
    #adv-search .input-group {
        display: inline-block!important;
    }
    #adv-search .input-group-lg > .form-control {
        border-radius: 6px 6px 6px 6px!important;
    }
    #adv-search .input-group-lg > .input-group-btn > .btn {
        width: 100%!important;
        border-radius: 6px !important;
        margin-top:10px!important;
    }
    #adv-search .input-group-btn {
        display: unset!important;
    }

    .categories-collapsed .pull-right,.categories-collapsed .pull-left {
        width: 100%!important;
    }
    #listDomainTableWgs_wrapper {
        min-width: 1100px!important;
    }
    #tableInvoicesListWgsCustom_wrapper {
        min-width: 100%!important;
        overflow: scroll!important;
        padding: 15px 0px!important;
    }
    .alert-warning, .alert-info, .providerLinkingFeedback.alert.alert-danger {
        width: 100%;
        float: unset!important;
    }
    .host-nav li {
        width: 100%!important;
        margin-bottom: 15px;
    }
    #order-standard_cart h2 {
        font-size: 20px;
        padding: 0px;
        margin: 0 0 15px;
    }
    .footer {
        font-size: 12px;
    }
    .domen-page .domains-head p {
        padding: 0 50px;
        position: relative;
        top: -15px;
        left: 8px;
    }
    .pak-row .tab_content {
        display: block !important;
    }
    .list-unstyled.components {
        margin-top: 14px !important;
    }
    .find-domin {
        min-height: 168px !important;
    }
    #sidebar {
        top: 140px !important;
    }
    .mob-pwreset .col-md-6.bg-box {
        min-height: 373px!important;
        /*padding-bottom: 0px!important;*/
    }
    .mob-pwreset .login-form {
        padding: 30px 0 0px!important;
    }
    div#subacct-container {
        padding: 0 10px 30px!important;
    }
    .btn-footer button {
        margin-bottom: 5px;
    }
    .manageMobileLI {
        display: block;
    }
    .activ-right{
        display: none;
    }
    input#registersld, input#transfersld, input#owndomainsld, input#subdomainsld {
        width: 100% !important;
        margin-bottom: 10px !important;
    }
    select#incartsld {
        width: 100% !important;
        margin-bottom: 10px!important;
    }
    input#registersld, input#transfersld, input#owndomainsld, input#subdomainsld {
        width: 100% !important;
    }
    .domen-page .page-spase {
        padding: 0px 15px;
    }
    input#registersld, input#transfersld, input#owndomainsld, input#subdomainsld {
        width: 100% !important;
    }

    input#registersld, input#transfersld, input#owndomainsld, input#subdomainsld {
        width: 100% !important;
        margin-bottom: 10px !important;
    }
    select#incartsld {
        width: 100% !important;
        margin-bottom: 10px!important;
    }input#registersld, input#transfersld, input#owndomainsld, input#subdomainsld {
        width: 100% !important;
    }
    .domen-page .page-spase {
        padding: 0px 15px!important;
    }
    .domen-page .pers-info {
        padding-top: 0px!important;
    }
    .domen-page .ticket-sec {
        padding-top: 0px!important;
    }
    .domen-page .ticket-cnt-box {
        margin: 28px auto 0px!important;
    }
    .domen-page .domains-head p {
        left: 20px!important;
    }
    .invoice-page .row {
        padding-top: 6px!important;
    }
    .col-md-6.tag-inv {
        text-align: center!important;
    }
    .tag-inv h2 {
        padding: 10px 0px!important;
    }
    .floatRight {
        text-align: center!important;
    }
    .btnFloatRight {
        float: none!important;
        text-align: center!important;
        width: 100%!important;
    }
    .address-invoice h2 {
        margin: 13px 0 17px!important;
    }
    #order-standard_cart .field, #order-standard_cart .form-control {
        z-index: 1!important;
    }
    .input-group-btn.adv .btn {
        z-index: 1 !important;
        position: relative!important;
    }
    .table-condensed.cf {
        width: 604px !important;
    }
    .sab-tot {
        font-size: 17px!important;
    }
    .DomainSearchResults .wgssptl {
        margin: 30px 0px -44px 10px !important;
    }
    .wgscstm {
        padding: 15px 10px 30px !important;
        margin-top: -30px !important;
    }
    #DomainSearchResults .price-usd {
        display: none!important;
    }
    #DomainSearchResults .sale-table .col-md-6 {
        padding: 0px 5px!important;
    }
    .empty-cart button#btnEmptyCart {
        padding: 11px 9px!important;
        margin-right: 0px!important;
    }
    .product-addons {
        margin-bottom: 30px;
        display: unset!important;
    }
    .addonbox-odd ul li.manage, .addonbox-even ul li.manage, .ssl ul li.manage {
        width: 100%;
        float: right;
        padding: 0px;
    }
    .product-addons .col-md-4 {
        margin-top: 21px;
    }
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 85%;
        margin: 0 auto;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 471px;
    }
}



/*.addon-promo-container {
    margin: 33px auto;
    padding: 26px 15px 10px;
    border-radius: 6px;
    background: #ebfaff;
    border: solid 1px #d1e9f1;
}*/
.addon-promo-container {
    margin: 33px auto;
    padding: 0px 15px 10px;
    border-radius: 6px;
    background: #ebfaff;
    /* border: solid 1px #d1e9f1; */
    border-top: solid 12px #0cb4e5;
    border-radius: 0;
    box-shadow: 0px 3px 11px 0px #cccbcb;
}
.addon-promo-container p {
    font-size: 16px !important;
    font-weight: 600;
    display: flex;
}
.addon-promo-container p {
    font-size: 16px !important;
    font-weight: 600;
    display: flex;
}

.addon-promo-container p a {
    display: flex;
    width: 205px;
    border: 2px solid #0cb4e5;
    padding: 12px 10px;
    color: #0cb4e5;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    margin-left: 20px;
    position: relative;
    top: -30px;
    text-align: center;
}
.addon-promo-container label.radio-inline , #productConfigurableOptions label {
    line-height: 26px;
    font-size: 15px;
}
.addon-promo-container label.radio-inline input[type="radio"], #productConfigurableOptions input[type="radio"]{
    background: #ffffff;
    width: 20px;
    height: 20px;
    position: relative;
}
.addon-promo-container label.radio-inline input[type="radio"]::before , #productConfigurableOptions input[type="radio"]:before{
    content: " ";
    width: 20px;
    height: 20px;
    border-color: #0cb4e5;
    position: absolute;
    border: 2px solid #0cb4e5;
    border-radius: 50%;
    background: #ffffff !important;
    top: 0;
    left: 0px;
}
.addon-promo-container label.radio-inline input[type="radio"]:checked:before , #productConfigurableOptions input[type="radio"]:checked:before{
    top: -1px;
    left: -1px;
    width: 21px;
    height: 21px;
    background: #ffffff;
    border: 6px solid #0cb4e5 !important;
    position: absolute;
}
.addon-promo-container label.radio-inline input[type="radio"]:focus  , #productConfigurableOptions input[type="radio"]:focus{
    outline: none;
}
.addon-promo-container label.radio-inline span.pull-right {
    line-height: 30px;
    margin-left: 10px;
}
.mc-promos .header {
    padding: 0 !important;
    background: none !important;
    position: relative !important;
    z-index: 99;
    min-height: auto;
}
.mc-promo span.text {
    margin: 0;
    color: inherit;
}
#order-standard_cart .mc-promos {
    max-width: 100%;
}
.mc-promo.ssl {
    background: none;
    min-height: auto;
    padding: 0;
    color: inherit;
}
.mc-promo li {
    padding: 0 !important;
}
.ssl_addons {
    display: inline-table;
    width: 100%;
}
.ssl_addons h3 {
    font-size: 25px;
    font-weight: 600;
}
.addon-promo-container .pull-right strong {
    color: #0cb4e5;
    font-size: 20px;
    text-transform: uppercase;
}
.addon-promo-container .logo {
    float: right;
    margin-bottom: 13px;
    display: none;
}

.no-spotlighttlds .reset-domen.wgscstm {
    padding-top: 0px !important;
    margin-top: 0px !important;
}
.sm-gutter .col-md-3.col-xs-6:last-child {
    margin-top: 12px;
}
.sm-gutter .col-md-3.col-xs-6.custpm_box:last-child {
    margin-top: 0 !important;
}   
.product_dropdwn a.btn.dropdown-toggle.drop-nav.cloud {
    padding: 10px 10px !important;
    margin: 0 !important;
}
.product_dropdwn ul.dropdown-menu {
    padding: 0 !important;
    border-radius: 0 !important;
    /*overflow-x: hidden;*/
    margin-top: 20px !important;
}
.product_dropdwn ul.dropdown-menu li {
    padding: 0 !important;
    margin: 0 !important;
}
.dropdown-menu-cont.nav_fixed {
    overflow: scroll;
    height: 350px;
    overflow-x: hidden;
}
.product_dropdwn ul.dropdown-menu li a {
    font-size: 15px;
    padding: 8px 14px;
    display: inline-block;
    color: unset;
}
.product_dropdwn ul.dropdown-menu li.active {
    background: #1c4e80;
}
.product_dropdwn ul.dropdown-menu li.active a {
    color: #fff;
}
.product_dropdwn ul.dropdown-menu:before {
    top: -15px;
}
.tld-filters a.label.label-default.label-success {
    display: inline-block;
    padding: 5px 6px;
    font-weight: 400;
    font-size: 90%;
    color: #fff;
    position: initial;
    width: auto;
    right: 0;
    top: 0;
    background-color: #5cb85c;
    border: none;
    height: initial;
    line-height: 1;
    border-radius: 2px;
}
