
.navbarfixed{
    position: fixed;
    top: 0;
    width: 100%;
}
.pageContent{
    padding-top: 150px;
}
input.search{
    padding-right: 0 !important;
    width: 98% !important;
    border-radius: 5px !important;
}
input.locate{
    background: url(../images/localisation.png) no-repeat !important;

}
.suggestsOntop{
    z-index: 999999999;
}

.top-bar-profile{
    height: 400px !important;
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ) no-repeat;
    background-size: 100% 100%;
    line-height: initial;
    position: relative;
}

.text-center{
    text-align: center;
}
.profile-image{
    width: 170px;
    height: 170px;
    border-radius: 50%;

}
.profile-title{
    font-size: 26px;
    color: white;
}
.magasin-title{
    background: rgba(0,0,0,0.2);
    color: white;
    display: inline;
    padding: 5px 40px;
    margin-top: 9px;
    font-size: 20px;
    position: relative;
    top: 10px;
    border-radius: 5px;
    border: white solid 1px;
}

.seller-categories{
    position:absolute;
    width:100%;
    bottom:0;
    text-align:center;
    font-size: 20px;
    color: red;
    padding-bottom: 10px;
    padding-top: 10px;
    background: rgba(255,255,255,0.9);
}


li a {
    color: black;
    font-size: 13px;
}
figure.full-width{
    margin: 0;
}

.shop-detail .row{
    margin: 0;
}

.shop-category .catItem{
    background: rgb(214, 85, 29);
    color: white;
    padding: 10px 0px;
    text-align: center;
}
.desktop-nav{
    position: relative;
    bottom: 21px;
}

.shop-category .catItem:nth-child(2),.shop-category .catItem:nth-child(3){
    border-left: 2px white solid;
}