.inner-page {
    padding-top: 0 !important;
}
.account-header {
    background: #fbfbfb;
    display: inline-block;
    width: 100%;
    min-height: 62px;
    border-bottom: 1px solid #f1f1f1;
    width: 100%;
    position: absolute;
    left: 0;
    padding: 0 0 0 23px;
}
.back-act {
    float: left;
}
.back-act a {
    font-size: 14px;
    color: #404040;
    padding: 19px 19px 20px 17px;
    border-right: 1px solid #ccc;
    display: inline-block;
}
.web-url {
    float: left;
}
.web-url {
    font-size: 20px;
    color: #404040;
    padding: 16px 0 8px 15px;
    display: inline-block;
}
.web-actv {
    float: right;
}
.web-actv a {
    padding: 20px 22px;
    background: #5cc55a;
    display: inline-block;
    color: #fff;
    font-weight:700;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 3px;
}
.cpanl-row {
    margin-top: 92px;
    position: relative;
    z-index: 9;
}
ul.tabs {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    width: 100%;
}
ul.tabs li {
    float: left;
    margin: 0 13px 0 0;
    cursor: pointer;
    height: 100px;
    line-height: 31px;
    border: solid 1px #ccc;
    border-radius: 8px;
    background-color: #fbfbfb;
    color: #404040;
    width: 14.9%;
    box-shadow: 0 0 8px #dfdddd;
    text-align: center;
    position: relative;
    font-size: 13px;
}
.d-block ul.tabs li a{padding:0;}
ul.tabs li a {
    padding: 19px 0;
    display: block;
    color: #404040;
    line-height: 18px;
}
ul.tabs li.active a {
    color: #fff;
}
ul.tabs li a:hover {
    color: #fff;
}
.tab_last {
    border-right: 1px solid #333;
}
ul.tabs li:hover {
    background-color: #1cb8e6;
    color: #fff;
}
ul.tabs li.active {
    background-color: #1cb8e6;
    color: #fff;
    display: block;
}
.tab_container {
    margin-top: 25px;
    position:relative;
    border-top: none;
    clear: both;
    float: left;
    width: 100%;
    background: #fff;
}
.tab_content {
    padding: 20px 0 0;
    display: none;
}
.tab_drawer_heading {
    display: none;
}
.tbs-icone {
    font-size: 26px;
    line-height: normal;
}
ul.tabs li:hover:after {
    content: '';
    border-top: 10px solid #1cb8e6;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    left: 43%;
    bottom: -9px;
}
ul.tabs li.active:after {
    content: '';
    border-top: 10px solid #1cb8e6;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    left: 43%;
    bottom: -9px;
}
@media screen and (max-width: 767px) {
	.pers-info h2.Pers-titel {
    padding-left: 0;
    font-size: 18px;
}

	.card-detal input[type="reset"] {
    font-size: 14px;
    padding: 11px 28px;
    height: auto;
}
 div.credit-card {
    margin-top: 20px;
}

	.btn-footer.card .btn.btn-save {margin: 0;}
	.form-colam{margin-bottom:0 !important;}
	.row-wgs-mrgn .tabs {display: block; }
    .tabs {
        display: none;
    }
    .tab_drawer_heading {
        background-color: #114375;
        color: #fff;
        border-top: 1px solid #fff;
        margin: 0;
        padding: 5px 10px;
        font-size: 16px;
        display: inline-block;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        width: 100%;
    }
    .d_active {

        color: #fff;
    }
    .d_active h3{ background:#f00}
}
.box-header {
    padding: 20px 0;
    background-image: linear-gradient(127deg, #0a45b0, #1b66ef);
}
.box-header h3 {
    font-weight:900;
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
    margin: 0;
    text-align: center;
}
.box-cpanl {
    position: relative;
    background: #ffffff;
    min-height: 330px;
    display: inline-block;
    margin-bottom: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 100%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
.plan-colam {
    text-align: center;
    padding: 30px 0 40px;
}
.uno a {
    font-size: 24px;
    text-transform: uppercase;
    color: #1cb8e6;
    font-weight:700;
    margin: 0;
}
.host-shar a {
    font-size: 16px;
    font-weight:300;
    color: #7d7d7d;
    margin: 8px 0 0;
    display: inline-block;
    width: 100%;
}
.host-name a {
    font-size: 22px;
    color: #404040;
    margin: 16px 0 30px 0;
    display: inline-block;
    width: 100%;
}
.visit {
    font-size: 12px;
    color: #404040;
    border: solid 1px #404040;
    padding: 9px 0;
    border-radius: 4px;
    text-transform: uppercase;
    width: 27%;
    display: inline-block;
    margin: 0 6px;
}
.visit:hover{ background:#404040; color:#fff;}
.visit.ifo {
    background: #1cb8e6;
    color: #fff;
    border: solid 1px #1cb8e6;
}
.visit.ifo:hover{ background:#1ca2c9; color:#fff;}

.box-header.statistic {
    background: #545454;
}
.plan-statistic {
    text-align: center;
    padding: 14px 0 29px;
}
.disk-use {
    display: inline-block;
    margin: 0 21px;
}
.disk-titel {
    font-size: 14px;
    color: #404040;
    font-weight:900;
}
.rpm {
    color: #404040;
    margin-top: 10px;
    font-size: 14px;
    display: inline-block;
}
.last-upd {
    color: #a4a4a4;
    text-align: center;
    font-size: 13px;
    margin-top: 15px;
}
.files-header {
    padding: 20px 0;
    background-image: linear-gradient(127deg, #0a85a4, #0cb2c1);
}
.files-header h3 {
    font-weight:900;
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
    margin: 0;
    text-align: center;
}
.file-row {
    margin-top: 60px;
}
.file-row {
    margin-top: 0;
    display: inline-block;
    width: 100%;
}
.file-row.box-cpanl {
    min-height: 400px;
}
.col-lg-6.col-xl-8.pnl-left {
    margin-bottom: 15px;
}
ul.tabs.servicestab.module_custom_tab li{
    height: 50px;
    line-height: 11px;
}
ul.tabs.servicestab.module_custom_tab li:after {
    content: ' ' !important;
    border: 0 !important;
}
.files-body {
    padding: 38px 20px;
}
.file-icone {
    text-align: center;
    margin-bottom: 10px;
    min-height: 49px;
}
.file-link {
    text-align: center;
}
.files-item {
    float: left;
    width: 14.2%;
}
.files-item a {
    text-align: center;
    color: #404040;
    font-size: 16px;
    width: 100%;
    padding: 21px 0;
    display: inline-block;
    border-radius: 4px;
    margin-bottom: 30px;
}
.files-item:hover a {
    background: #fff;
    color: #5cc55a;
    box-shadow: 0 0 10px #ccc;
}
.email-header {
    padding-bottom: 14px;
    border-bottom: 1px solid #f6f6f6;
    position: relative;
    width: 100%;
    display: inline-block;
    padding: 15px 0;
    margin-bottom: 35px;
}
.email-header:before {
    content: '';
    background: #1cb8e6;
    height: 1px;
    width: 27%;
    display: inline-block;
    bottom: -1px;
    left: 0;
    position: absolute;
}
.email-header h3 {
    margin: 0;
    text-transform: uppercase;
    font-size: 16px;
    color: #404040;
    position: relative;
    font-weight:700;
    padding-left: 20px;
}
.emailacc-row {
    margin-top: 40px;
}
.emailacc-row .box-cpanl {
    min-height: 180px;
}
.email-header.bill:before {
    width: 17%;
}
.col-lg-6.col-xl-8.pnl-left {
    padding-left: 6px;
}
.col-lg-6.col-xl-8.pnl-right {
    padding-right: 6px;
}
.email-acct input {
    height: 46px;
    border-radius: 5px;
    box-shadow: inherit;
}
#btn-login {
    background: #1cb8e6;
    font-weight:300;
    width: 78%;
    font-size: 20px;
    line-height: 7px;
    height: inherit;
    color: #fff;
    padding: 18px 0;
}
#btn-login:hover{background: #1ca2c9;}
.month-price {
    position: relative;
}
.month-price li {
    list-style: none;
    font-size: 14px;
    padding-left: 20px;
    background: url(../images/doots.png) no-repeat left;
    color: #404040;
    margin-bottom: 20px;
    position: relative;
    z-index: 0;
}
.pay-price {
    font-weight:900;
    color: #404040;
}
.amout-dt {
    width: 42%;
    display: inline-block;
}
.month-price:before {
    content: '';
    background: #1cb8e6;
    height: 75%;
    width: 2px;
    display: inline-block;
    position: absolute;
    left: 5px;
    top: 13px;
    bottom: 0;
}
.pers-info {
    background: #fff;
}
.server-box.right-padd {
    margin-top: -6px;
    padding-right: 0;
}
.pers-info {
    margin-top: -5px;
    background: #fff;
    display: inline-block;
    width: 100%;
    padding: 26px 23px 30px;
}
.user-accout {
    display: inline-block;
    background: #1cb8e6;
    width: 100%;
}
.user-accout .tabs li {
    margin: 0;
    border-radius: inherit;
    box-shadow: inherit;
    border: none;
    color: #fff;
    border-right: 1px solid #fff;
    background: none;
	line-height:18px;
}
ul.tabs li.active {
    background-color: #1ca2c9;
    color: #fff;
    display: block;
}
ul.tabs li.active:after {
    border-top: 10px solid #1ca2c9;
}
ul.tabs li:hover {
    background-color: #1ca2c9;
}
ul.tabs li:hover:after {
    border-top: 10px solid #1ca2c9;
}
.Pers-titel {
    margin: 0 0 27px;
    font-size: 20px;
    font-weight:700;
    color: #404040;
}
.inputBox {
    position: relative;
    box-sizing: border-box;
}
.inputBox .inputText {
    position: absolute;
    font-size: 13px;
    line-height: 50px;
    transition: .5s;
    opacity: 1;
    color: #898989;
}
.inputBox .input {
    position: relative;
    width: 100%;
    height: 50px;
    font-size: 14px;
    background: transparent;
    border: none;
    outline: none;
    font-weight:900;
    border-bottom: 1px solid #d2d2d2;
}
.focus .inputText {
    transform: translateY(-30px);
    font-size: 12px;
    opacity: 1;
    color: #00bcd4;
}
.custom-select select {
    display: none; 
}
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #d2d2d2 transparent transparent transparent;
}
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #696969 transparent;
    top: 12px !important;
}
.select-items div, .select-selected {
    color: #898989;
    padding:14px 0 15px;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
    border-bottom: 1px solid #d2d2d2;
}
.select-items {
    position: absolute;
    border: solid 1px #d2d2d2;
    top: 100%;
    background: #fff;
    left: 0;
    right: 0;
    z-index: 99;
}
.select-hide {
    display: none;
}
.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}
.form-main {
    display: inline-block;
    width: 100%;
}
.form-colam {
    display: inline-block;
    width: 100%;
    margin-bottom: 50px;
}
.select-items div {
    font-weight: normal;
    font-size: 12px;
    color: #000;
    padding: 6px 16px;
}
.formBox .checkbox label {
    padding: 0;
    margin: 0;
}
.formBox h5 {
    padding-bottom: 12px;
    font-weight:900;
}
.btn-footer {
    margin-top: 42px;
	display: inline-block;
}

input.btn-save {
    background: #1cb8e6;
    border: none !important;
    text-transform: uppercase;
    padding: 12px 22px;
    font-weight: 700;
    color: #ffffff;
    border-radius: 5px;
	    margin-bottom: 10px;
}
input.btn-cancel {
    background: #0063a5 !important;
    border: none !important;
    text-transform: uppercase;
    padding: 12px 28px;
    font-weight: 700;
    color: #ffffff;
    border-radius: 5px;
    margin-left: 10px;
}

button.btn-save {
    background: #1cb8e6;
    border: none;
    text-transform: uppercase;
    padding: 12px 22px;
    font-weight:700;
    color: #ffffff;
    border-radius: 5px;
}
.btn-save:hover{ background:#1c7cd6;  }
button.btn-cancel {
    background: #0063a5;
    border: none;
    text-transform: uppercase;
    padding: 12px 28px;
    font-weight:700;
    color: #ffffff;
    border-radius: 5px;
    margin-left: 10px;
}
.btn-cancel:hover {background:#525e68 !important;}
.card-detal input {
    background: #f4f4f4;
    height: 45px;
    font-size: 12px;
    border: none;	border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;

}
.card-detal input[type="reset"]{
	font-size: 14px;
}
.card-detal .custom-select {
    position: relative;
    background: #f4f4f4;
    height: 45px;
    font-size: 12px;

    border-radius: 4px;
    padding: 0 11px;
    border: none;
    border-right: 2px solid #dbdbdb;
    border-bottom: 2px solid #dbdbdb;
}
.card-detal .select-selected {
    border: none;
}
.card-detal .select-items {
    left: 0;
    right: 0;
}
.card-detal .select-selected:after {
    top: 19px;
}
.card-detal .col-xs-6 {
    padding-left: 0;
    padding-right: 0;
}
.card-detal .col-xs-6 .pull-right {
    width: 95%;
}
.card-detal .col-xs-6 .pull-left {
    width: 95%;
}
.card-detal .form-group {
    display: inline-block;
    width: 100%;
}
.find-card {
    font-size: 15px;
    color: #1c4e80;
    font-weight:700;
    margin-top: 12px;
    display: inline-block;
}
.btn-footer.card {
    margin-top: 10px;
}
.change-pass {
    display: inline-block;
    width: 100%;
}
.change-pass input {
    height: 45px;
    font-size: 12px;
    padding: 0 11px;
    color: #000 !important;
    border: none;
}
.change-pass .inputText {
}
.change-pass .focus .inputText {
    transform: translateY(-35px);
}
.change-pass .col-md-4 {
    padding-left: 0;
    padding-right: 31px;
}
.stren {
    margin: 18px 0 25px;
}
.stren a {
    font-weight:700;
    font-size: 12px;
    color: #1c4e80;
}
.part-applict {
    background: #e0eefc;
    padding: 24px 20px;
    font-weight:300;
    border-radius: 8px;
    font-size: 18px;
    color: #888888;
}
.checkbox.ently {
    margin: 20px 0 28px 0;
}
.checkbox.ently label {
    padding-left: 0;
}
.checkbox.ently label {
    padding-left: 0;
    font-size: 14px;
    color: #898989;
}
.disable {
    font-weight:300;
    border-radius: 8px;
    font-size: 18px;
    line-height: 26px;
    color: #888888;
}
.checkbox.ently .cr {
    background: #d2d2d2;
}
.change-pass .inputBox {
}
.form-main.cradit-histry .form-colam {
    margin-bottom: 15px;
}
.cradit-histry .Pers-titel {
    margin-top: 30px;
}
.chek-box-grup {
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
}
.chek-box-grup .checkbox {
    margin-bottom: 20px;
}
.chek-box-grup label {
    padding-left: 0;
}
.chek-box-grup .cr {
    background: #d2d2d2;
}
#inputContactID {
    width: 250px;
    height: 47px;
    box-shadow: 0 0 10px #ccc;
    margin: 0 10px;
}
button.btn.btn-default.go {
    height: 45px;
    background:#1ca2c9;
    color:#fff;
    padding: 0 23px;	font-weight:700;
}.foem-addx label {
    float: left;
    margin-top: 13px;
}
.foem-addx .custom-select {
    position: relative;
    float: left;
    min-width: 300px;
    background: #fff;

    border-radius: 4px;
    padding: 0 12px;
    margin: 0 17px;
}.foem-addx .select-items{  left: 0;
                            right: 0;}
.foem-addx .select-selected:after {
    top: 19px;
}

.foem-addx .select-selected { border-bottom:none;}.focus .input {
    border-bottom: 2px solid #000;
}
.row-wgs-mrgn ul li{
margin-bottom:20px;
}
