.wgsstyle-rtl #content.active {
    width: calc(100% - 95px);
    right: 95px;
	left:auto;
}
.wgsstyle-rtl #sidebar.active ul {
    position: relative;
    right: 200px;
    width: 32%;
}
.wgsstyle-rtl #sidebar.active {
    margin-left: auto;
    margin-right: -200px;
}
.wgsstyle-rtl #sidebar {
    background: #1c4e80 url(../images/nav-bg-rtl.png) repeat-y;
}
.wgsstyle-rtl .shift-btn {
    left: -19px;
    transform: rotate(180deg);
	right:auto;
}
.wgsstyle-rtl ul.list-unstyled.components i {
    padding: 0 14px 0 71px;
}
.wgsstyle-rtl #content {
    width: calc(100% - 295px);
	right: 295px;
}
.wgsstyle-rtl .header-left {
    float: right;
}
.wgsstyle-rtl ul.sidebar_items {
    right: 0 !important;
    width: 100% !important;
}
.wgsstyle-rtl .domains-head h1 i {
    padding-left: 15px;
}
.wgsstyle-rtl i.fas.fa-long-arrow-alt-left {
    left: 5px;
}
.wgsstyle-rtl .domains-head p {
    padding: 0 55px 0 0px;
}
.wgsstyle-rtl .hosting-row .col-md-3:first-child {
    padding-right: 15px;
}
.wgsstyle-rtl .hosting-row .col-md-3:first-child {
    padding-left: 8px;
}
.wgsstyle-rtl .host-user {
    left: 17px;
	right:auto;
}
.wgsstyle-rtl .order-cart .pull-left {
    float: right!important;
}
.wgsstyle-rtl .host-nav li {
    float: right;
}
.wgsstyle-rtl .dropdown-menu {
    right: 0;
    float: left;
}
.wgsstyle-rtl .host-nav .dropdown-menu:before {
    left: auto;
}
.wgsstyle-rtl ul.dropdown-menu li {
    width: 100%;
    text-align: right;
}
.wgsstyle-rtl .tickt-header li {
    float: right;
}
.wgsstyle-rtl .add-tick i {
    margin-left: 4px;
}
.wgsstyle-rtl .tickt-drop a i {
    margin-right: 6px;
}
.wgsstyle-rtl table.dataTable thead>tr>th.sorting {
    padding-right: 22px!important;
}
.wgsstyle-rtl .order span {
    margin-left: 15px;
}
.wgsstyle-rtl ul.tabs.addons li {
    float: right;
}
.wgsstyle-rtl .dataTables_wrapper .dataTables_info {
    text-align: right!important;
}
.wgsstyle-rtl .domain-promo-box i {
    float: left;
}
.wgsstyle-rtl .form-colam .col-sm-5,.wgsstyle-rtl .pers-info .row .col-sm-5 {
    width: 41.66666667%;
    float: right;
}
.wgsstyle-rtl .dataTables_wrapper .dataTables_paginate {
    float: left;
}
.wgsstyle-rtl .server-box {
    padding: 30px!important;
}
.wgsstyle-rtl .navbar-right .lang .dropdown-menu {
    right: -432px;
}
.wgsstyle-rtl .navbar-right li.header.langlist {
    text-align: left;
    padding-left: 14px;
}
.wgsstyle-rtl .navbar-right li {
    text-align: left!important;
}
.wgsstyle-rtl li.dropdown.messages-menu.lang ul.dropdown-menu:before {
    right: auto;
    left: 0;
}
.wgsstyle-rtl .navbar-right {
    float: left!important;
}
.wgsstyle-rtl span.input-group-btn.adv button {
    border-top-right-radius: 0px!important;
    border-bottom-right-radius: 0px!important;
    border-top-left-radius: 5px!important;
    border-bottom-left-radius: 5px!important;
}
.wgsstyle-rtl .input-group.input-group-lg.input-group-box input{
	border-top-right-radius: 5px!important;
    border-bottom-right-radius: 5px!important;
    border-top-left-radius: 0px!important;
    border-bottom-left-radius: 0px!important;
}
.wgsstyle-rtl .input-group-btn.adv button i {
    margin-left: 10px;
}
.wgsstyle-rtl ul.tabs li {
    float: right;
}
.wgsstyle-rtl .select-selected:after {
    left: 10px;
	right:auto;
}
.wgsstyle-rtl .foem-addx .custom-select,.wgsstyle-rtl .foem-addx label {
    float: right;
}
.wgsstyle-rtl .intl-tel-input.separate-dial-code .selected-dial-code {
    padding-right: 26px;
    padding-left: 18px;
}
.wgsstyle-rtl .intl-tel-input .selected-flag .iti-arrow {
    left: 11px;
    right: auto;
}
.wgsstyle-rtl .intl-tel-input .selected-flag {
    padding: 0 10px 0 8px;
}
.wgsstyle-rtl .sap-row .col-md-3 {
    float: right;
}
.wgsstyle-rtl .step .step-item:not(:first-child)::before {
    left: 47%;
}
.wgsstyle-rtl ul.dropdown-menu.d-menu {
    right: -372px!important;
}
.wgsstyle-rtl .dropdown-menu .header {
    padding: 12px 11px;
}
.wgsstyle-rtl ul.dropdown-menu.d-menu:before {
    right: auto;
    top: -15px;
    left: 1px;
}
.wgsstyle-rtl .user-menu .dropdown-menu{
    right: -263px!important;
}
.wgsstyle-rtl .user-menu ul.dropdown-menu:before {
    right: auto;
    left: 1px;
}
.wgsstyle-rtl .navbar-nav>li {
    float: right;
}
.wgsstyle-rtl .revenue,.wgsstyle-rtl .invic {
    background-position: 3% 105px;
}
.wgsstyle-rtl .t-box-hd h4 i.fa.fa-check-circle {
    margin: 0px 0px 0 15px;
}
.wgsstyle-rtl .tooltip {
    left:330px!important;
	position:absolute!important;
}
.wgsstyle-rtl .col-md-3.col-xs-6.custpm_box {
    float: right;
}
.wgsstyle-rtl .input-group.form-box {
    margin-right: 15px;
    padding-left: 27px;
}
.wgsstyle-rtl .tooltip.right {
    padding: 0 5px;
    margin-right: 77px!important;
    /* left: 124px!important; */
}
.wgsstyle-rtl .tooltip.right .tooltip-arrow {
    border-width: 5px 0px 5px 5px;
}
.modal-open .modal {
    z-index: 9999999999999999!important;
}
.wgsstyle-rtl .col-md-8.left-colam {
    padding-right: 43px;
	padding-left:0px;
}
.wgsstyle-rtl .paddingLeftTd {
    padding-right: 10px !important;
}
@media (min-width: 992px) and (max-width: 1200px) {
.wgsstyle-rtl #content.active {
    width: calc(100% - 295px);
    right: 295px;
}
.wgsstyle-rtl #sidebar.active ul {
    right: 0px;
    width: auto;
}
.wgsstyle-rtl #sidebar.active {
    margin-left: auto;
    margin-right: 0;
}
.wgsstyle-rtl #sidebar {
    margin-right: -200px;
}
.wgsstyle-rtl #sidebar ul {
    position: relative;
    left: -200px;
    width: 32%;
}
.wgsstyle-rtl #content {
    width: calc(100% - 95px);
    right: 95px;
}
.wgsstyle-rtl #sidebar.active ul.list-unstyled.components span {
    margin-right: 52px;
    text-align: right;
}
#sidebar>ul {
    max-height: 397px;
    overflow-y: scroll;
}
.shift-btn {
    top: 401px!important;
}
#sidebar>ul {
    overflow-x: hidden;
}
}
@media (min-width: 768px) and (max-width: 991px) {
.wgsstyle-rtl #sidebar.active ul {
    width: 100%;
	right: 0px;
}
.wgsstyle-rtl #sidebar.active {
    margin-left: auto;
    margin-right: 0px;
}
.wgsstyle-rtl #sidebar ul {
    right: 200px;
}
.wgsstyle-rtl #sidebar {
    margin-right: -200px;
}
.wgsstyle-rtl #content.active {
    width: calc(100% - 295px);
    right: 295px;
    left: auto;
}
.wgsstyle-rtl #content {
    width: calc(100% - 90px);
    right: 90px;
}
.wgsstyle-rtl #sidebar ul li a:hover,.wgsstyle-rtl  #sidebar ul li a.active {
    border-right: 1px solid #edb800;
    border-left: 0px;
}
.wgsstyle-rtl #sidebar ul li a {
	border-right: 1px solid transparent;
	border-left: 0px;
}
.wgsstyle-rtl #sidebar.active ul.list-unstyled.components span {
    margin-right: 52px;
    text-align: right;
}
}

@media (min-width: 300px) and (max-width: 767px) {
.wgsstyle-rtl #content.active {
	right: 0px;
}
.wgsstyle-rtl #content {
    width: 100%;
    right: 0px;
}
.wgsstyle-rtl #sidebar.active ul li a {
    text-align: right;
}
.wgsstyle-rtl .server-box {
    padding: 0px!important;
}
.wgsstyle-rtl #sidebar.active ul {
    right: 0px;
    width: auto;
}
.wgsstyle-rtl #sidebar.active span,.wgsstyle-rtl  #sidebar.active small {
    margin: 0 0 0 0px;
}
.wgsstyle-rtl #sidebar.active .list-unstyled.components li a i {
    padding-left: 20%;
}
.wgsstyle-rtl #sidebar {
    background-position: right center;
}
.wgsstyle-rtl .navbar-right {
    float: none!important;
}
.wgsstyle-rtl .navbar-nav>li {
    float: none;
}
.wgsstyle-rtl .nav.navbar-nav {
    text-align: center;
    width: 100%;
    direction: ltr;
}
.wgsstyle-rtl .header .container-fluid {
    max-width: 249px;
    margin: 0 auto;
        margin-left: auto;
    position: relative;
    left: 50%;
    margin-left: -131px;
}
.wgsstyle-rtl .user-menu .dropdown-menu {
    right: -52px!important;
}
.wgsstyle-rtl ul.dropdown-menu.d-menu {
    margin: -1px auto 0 !important;
    right: -30px !important;
    right: 0;
}
.wgsstyle-rtl .navbar-right .lang .dropdown-menu {
    right: -35px;
	min-width: 100%!important;
}
.wgsstyle-rtl ul.dropdown-menu.d-menu .header {
    padding: 10px 9px;
}
.wgsstyle-rtl .navbar-right .lang .dropdown-menu {
    right: -50px;
    min-width: 145%!important;
}
.wgsstyle-rtl li.dropdown.messages-menu.lang.open ul.dropdown-menu {
    min-width: 119%!important;
    height: 329px!important;
    text-align: left;
}
.wgsstyle-rtl ul.menu.notf li {
    padding: 9px 3px;
}
.wgsstyle-rtl #sidebar ul li a {
    padding: 15px 30px;
}
.wgsstyle-rtl .col-md-8.left-colam {
    padding-right: 0px;
    padding-left: 0px;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 2px 0 44px;
}
}
.col-md-12.left-colam {
    padding-left: 0px;
    width: 100%;
}
@media (min-width: 280px) and (max-width: 320px) {
.wgsstyle-rtl #sidebar.active ul {
    width: 100%;
    max-height: 300px;
    overflow-y: scroll;
}
}
